<ion-header>
  <ion-navbar color="header" hideBackButton>
    <button ion-button menuToggle style="display:block">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title color="light">Add Client</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input type="text" no-input-line [(ngModel)]="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" no-input-line [(ngModel)]="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Address</ion-label>
      <ion-input type="text" no-input-line [(ngModel)]="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>City</ion-label>
      <ion-input type="text" no-input-line [(ngModel)]="city"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>State</ion-label>
      <ion-input max="2" step="2" type="text" no-input-line [(ngModel)]="state"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Zip</ion-label>
      <ion-input type="tel" wellsSelectAll wellsReplaceAsterisk no-input-line [(ngModel)]="zip"></ion-input>
    </ion-item>
    
    <ion-item no-lines (click)="showBoroTownshipSelect($event)">
      <ion-label floating>Boro/Township</ion-label>
      <ion-input [ngModel]="boro" disabled></ion-input>
    </ion-item>

  </ion-list>

  <div class="buttons" padding>
    <button ion-button color="primary" block (click)="addClient($event)">Create</button>
  </div>

</ion-content>