<!-- START OF THE SHEET -->
<ion-card>
  <ion-item-group>
    <ion-item-divider color="panel">Flue/Vent</ion-item-divider>
    <ion-grid>
      <ion-row>
        <ion-col col-lg-6 col-md-6 col-12 class="input">
          <ion-item class="no-hover">
            <ion-label floating>Name:</ion-label>
            <ion-input type="text" tabindex="1" [(ngModel)]="flueVent.name" name="name" (change)="onChange('name')"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-lg-6 col-md-6 col-12>
          <ion-item class="no-hover">
            <ion-label stacked>Flue Material:</ion-label>
            <ion-select interface="popover" [(ngModel)]="flueVent.material" name="material" (ngModelChange)="onChange('materialChange')">
              <ion-option [value]="material.value" *ngFor="let material of flueMaterials">{{material.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col col-lg-4 col-md-4 col-12 style="font-size: 1.2em;">
          <ion-item>
            <ion-label>Flue Length:</ion-label>
          </ion-item>
        </ion-col>
        <ion-col col-lg-4 col-md-4 col-12 style="font-size: 1.2em;">
          <ion-item>
            <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="2" [(ngModel)]="flueVent.length" name="length" (change)="onChange()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-lg-4 col-md-4 col-12 style="font-size: 1.2em;" hideWhen="ios">
          <ion-item>
            <ion-label>feet</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <div [ngSwitch]="flueSizeType">
        <!--Flue Size Round-->

        <ng-template ngSwitchCase="round">

          <div [ngSwitch]="flueSizeLocation">

            <ng-template ngSwitchCase="inside">
              <ion-row class="border-top">
                <ion-col col-12>
                  <ion-item class="no-hover">
                    <ion-label item-start class="bold">Flue Size Inside:</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row class="items-center ml3" style="font-size: 1.2em;">
                  <ion-col col-auto>
                    Size:
                  </ion-col>
                  <ion-col col-2>
                    <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="3" [(ngModel)]="flueVent.inside1" name="inside1" (change)="onChange()"></ion-input>
                  </ion-col>
                  <ion-col col-auto>
                    <span>inches</span>
                  </ion-col>
              </ion-row>

            </ng-template>

            <ng-template ngSwitchCase="outside">
              <ion-row class="border-top">
                <ion-col col-12>
                  <ion-item class="no-hover">
                    <ion-label item-start class="bold">Flue Size Outside:</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col col-auto>
                    Size:
                  </ion-col>
                  <ion-col col-2>
                    <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="4" [(ngModel)]="flueVent.outside1" name="outside1" (change)="onChange()"></ion-input>
                  </ion-col>
                  <ion-col col-auto>
                    <span>inches</span>
                  </ion-col>
              </ion-row>
            </ng-template>

            <ng-template ngSwitchCase="both">

              <ion-row class="border-top">
                <ion-col col-12>
                  <ion-item class="no-hover">
                    <ion-label item-start class="bold">Flue Size Inside:</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row class="items-center ml3" style="font-size: 1.2em;">
                  <ion-col col-auto>
                      Size:
                  </ion-col>
                  <ion-col col-2>
                      <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="3" [(ngModel)]="flueVent.inside1" name="inside1" (change)="onChange()"></ion-input>
                  </ion-col>
                  <ion-col col-auto>
                    <span>inches</span>
                  </ion-col>
              </ion-row>

              <ion-row class="border-top">
                <ion-col col-12>
                  <ion-item class="no-hover">
                    <ion-label item-start class="bold">Flue Size Outside:</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row class="items-center ml3" style="font-size: 1.2em;">
                  <ion-col col-auto>
                      Size:
                  </ion-col>
                  <ion-col col-2>
                      <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="4" [(ngModel)]="flueVent.outside1" name="outside1" (change)="onChange()"></ion-input>
                  </ion-col>
                  <ion-col col-auto>
                      <span>inches</span>
                  </ion-col>
              </ion-row>
            </ng-template>

          </div>
        </ng-template>


        <!--Flue Size Square/Rectangle-->
        <ng-template ngSwitchCase="rectangle">

          <div [ngSwitch]="flueSizeLocation">

            <ng-template ngSwitchCase="outside">
              <ion-row class="border-top">
                <ion-col col-12>
                  <ion-item class="no-hover">
                    <ion-label item-start class="bold">Flue Size Outside:</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row class="items-center ml3" style="font-size: 1.2em;">
                <ion-col col-auto>
                    Size:
                </ion-col>
                <ion-col col-2>
                    <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="5" [(ngModel)]="flueVent.outside1" name="outside1" (change)="onChange()"></ion-input>
                </ion-col>
                <ion-col col-auto>
                    Fraction:
                </ion-col>
                <ion-col col-auto>
                    <ion-select interface="popover" class="no-float-label" [selectOptions]="{title:'Sizes'}" [(ngModel)]="flueVent.outside2" 
                    (ngModelChange)="onChange()">
                      <ion-option [value]="fraction.value" *ngFor="let fraction of fractions.get">{{fraction.name}}</ion-option>
                    </ion-select>
                </ion-col>
                <ion-col col-auto>
                    <span>inches</span>
                </ion-col>
              </ion-row>

              <ion-row justify-content-center>
                <ion-col col-auto>
                  <ion-icon name="md-close" class="font-22"></ion-icon>
                </ion-col>
              </ion-row>

              <ion-row class="items-center ml3" style="font-size: 1.2em;">
                <ion-col col-auto>
                    Size:
                </ion-col>
                <ion-col col-2>
                    <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="6" [(ngModel)]="flueVent.outside3" name="outside3" (change)="onChange()"></ion-input>
                </ion-col>
                <ion-col col-auto>
                    Fraction:
                </ion-col>
                <ion-col col-auto>
                    <ion-select interface="popover" class="no-float-label" [selectOptions]="{title:'Sizes'}" [(ngModel)]="flueVent.outside4" 
                    (ngModelChange)="onChange()">
                      <ion-option [value]="fraction.value" *ngFor="let fraction of fractions.get">{{fraction.name}}</ion-option>
                    </ion-select>
                </ion-col>
                <ion-col col-auto>
                    <span>inches</span>
                </ion-col>
              </ion-row>
            </ng-template>

            <ng-template ngSwitchCase="inside">
              <ion-row class="border-top">
                <ion-col col-12>
                  <ion-item class="no-hover">
                    <ion-label item-start class="bold">Flue Size Inside:</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row class="items-center ml3" style="font-size: 1.2em;">
                <ion-col col-auto>
                    Size:
                </ion-col>
                <ion-col col-2>
                    <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="7" [(ngModel)]="flueVent.inside1" name="inside1" (change)="onChange()"></ion-input>
                </ion-col>
                <ion-col col-auto>
                    Fraction:
                </ion-col>
                <ion-col col-auto>
                    <ion-select interface="popover" class="no-float-label" [selectOptions]="{title:'Sizes'}" [(ngModel)]="flueVent.inside2" (ngModelChange)="onChange()">
                      <ion-option [value]="fraction.value" *ngFor="let fraction of fractions.get">{{fraction.name}}</ion-option>
                    </ion-select>
                </ion-col>
                <ion-col col-auto>
                    <span>inches</span>
                </ion-col>
              </ion-row>

              <ion-row justify-content-center>
                <ion-col col-auto>
                  <ion-icon name="md-close" class="font-22"></ion-icon>
                </ion-col>
              </ion-row>

              <ion-row class="items-center ml3" style="font-size: 1.2em;">
                <ion-col col-auto>
                    Size:
                </ion-col>
                <ion-col col-2>
                    <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="8" [(ngModel)]="flueVent.inside3" name="inside3" (change)="onChange()"></ion-input>
                </ion-col>
                <ion-col col-auto>
                    Fraction:
                </ion-col>
                <ion-col col-auto>
                    <ion-select interface="popover" class="no-float-label" [selectOptions]="{title:'Sizes'}" [(ngModel)]="flueVent.inside4" (ngModelChange)="onChange()">
                      <ion-option [value]="fraction.value" *ngFor="let fraction of fractions.get">{{fraction.name}}</ion-option>
                    </ion-select>
                </ion-col>
                <ion-col col-auto>
                    <span>inches</span>
                </ion-col>
              </ion-row>
            </ng-template>

            <ng-template ngSwitchCase="both">

              <!--Flue Size Outside-->
              <ion-row class="border-top">
                <ion-col col-12>
                  <ion-item class="no-hover">
                    <ion-label item-start class="bold">Flue Size Outside:</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row class="items-center ml3" style="font-size: 1.2em;">
                <ion-col col-auto>
                    Size:
                </ion-col>
                <ion-col col-2>
                    <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="5" [(ngModel)]="flueVent.outside1" name="outside1" (change)="onChange()"></ion-input>
                </ion-col>
                <ion-col col-auto>
                    Fraction:
                </ion-col>
                <ion-col col-auto>
                    <ion-select interface="popover" class="no-float-label" [selectOptions]="{title:'Sizes'}" [(ngModel)]="flueVent.outside2"
                     (ngModelChange)="onChange()">
                      <ion-option [value]="fraction.value" *ngFor="let fraction of fractions.get">{{fraction.name}}</ion-option>
                    </ion-select>
                </ion-col>
                <ion-col col-auto>
                    <span>inches</span>
                </ion-col>
              </ion-row>

              <ion-row justify-content-center>
                <ion-col col-auto>
                  <ion-icon name="md-close" class="font-22"></ion-icon>
                </ion-col>
              </ion-row>

              <ion-row class="items-center ml3" style="font-size: 1.2em;">
                <ion-col col-auto>
                    Size:
                </ion-col>
                <ion-col col-2>
                    <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="6" [(ngModel)]="flueVent.outside3" name="outside3" (change)="onChange()"></ion-input>
                </ion-col>
                <ion-col col-auto>
                    Fraction:
                </ion-col>
                <ion-col col-auto>
                    <ion-select interface="popover" class="no-float-label" [selectOptions]="{title:'Sizes'}" [(ngModel)]="flueVent.outside4"
                     (ngModelChange)="onChange()">
                      <ion-option [value]="fraction.value" *ngFor="let fraction of fractions.get">{{fraction.name}}</ion-option>
                    </ion-select>
                </ion-col>
                <ion-col col-auto>
                    <span>inches</span>
                </ion-col>
              </ion-row>

              <!--Flue Size Inside-->
              <ion-row class="border-top">
                <ion-col col-12>
                  <ion-item class="no-hover">
                    <ion-label item-start class="bold">Flue Size Inside:</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row class="items-center ml3" style="font-size: 1.2em;">
                  <ion-col col-auto>
                      Size:
                  </ion-col>
                  <ion-col col-2>
                      <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="7" [(ngModel)]="flueVent.inside1" name="inside1" (change)="onChange()"></ion-input>
                  </ion-col>
                  <ion-col col-auto>
                      Fraction:
                  </ion-col>
                  <ion-col col-auto>
                      <ion-select interface="popover" class="no-float-label" [selectOptions]="{title:'Sizes'}" [(ngModel)]="flueVent.inside2" (ngModelChange)="onChange()">
                        <ion-option [value]="fraction.value" *ngFor="let fraction of fractions.get">{{fraction.name}}</ion-option>
                      </ion-select>
                  </ion-col>
                  <ion-col col-auto>
                      <span>inches</span>
                  </ion-col>
                </ion-row>

              <ion-row justify-content-center>
                <ion-col col-auto>
                  <ion-icon name="md-close" class="font-22"></ion-icon>
                </ion-col>
              </ion-row>

              <ion-row class="items-center ml3" style="font-size: 1.2em;">
                <ion-col col-auto>
                    Size:
                </ion-col>
                <ion-col col-2>
                    <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="8" [(ngModel)]="flueVent.inside3" name="inside3" (change)="onChange()"></ion-input>
                </ion-col>
                <ion-col col-auto>
                    Fraction:
                </ion-col>
                <ion-col col-auto>
                    <ion-select interface="popover" class="no-float-label" [selectOptions]="{title:'Sizes'}" [(ngModel)]="flueVent.inside4" (ngModelChange)="onChange()">
                      <ion-option [value]="fraction.value" *ngFor="let fraction of fractions.get">{{fraction.name}}</ion-option>
                    </ion-select>
                </ion-col>
                <ion-col col-auto>
                    <span>inches</span>
                </ion-col>
              </ion-row>
            </ng-template>
            
            <ng-template ngSwitchCase="both-one">

              <!--Flue Size Outside-->
              <ion-row class="border-top">
                <ion-col col-12>
                  <ion-item class="no-hover">
                    <ion-label item-start class="bold">Flue Size Outside:</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row class="items-center ml3" style="font-size: 1.2em;">
                <ion-col col-auto>
                    Size:
                </ion-col>
                <ion-col col-2>
                    <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="5" [(ngModel)]="flueVent.outside1" name="outside1" (change)="onChange()"></ion-input>
                </ion-col>
                <ion-col col-auto>
                    Fraction:
                </ion-col>
                <ion-col col-auto>
                    <ion-select interface="popover" class="no-float-label" [selectOptions]="{title:'Sizes'}" [(ngModel)]="flueVent.outside2"
                     (ngModelChange)="onChange()">
                      <ion-option [value]="fraction.value" *ngFor="let fraction of fractions.get">{{fraction.name}}</ion-option>
                    </ion-select>
                </ion-col>
                <ion-col col-auto>
                    <span>inches</span>
                </ion-col>
              </ion-row>

              <!--Flue Size Inside-->
              <ion-row class="border-top">
                <ion-col col-12>
                  <ion-item class="no-hover">
                    <ion-label item-start class="bold">Flue Size Inside:</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row class="items-center ml3" style="font-size: 1.2em;">
                  <ion-col col-auto>
                      Size:
                  </ion-col>
                  <ion-col col-2>
                      <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="7" [(ngModel)]="flueVent.inside1" name="inside1" (change)="onChange()"></ion-input>
                  </ion-col>
                  <ion-col col-auto>
                      Fraction:
                  </ion-col>
                  <ion-col col-auto>
                      <ion-select interface="popover" class="no-float-label" [selectOptions]="{title:'Sizes'}" [(ngModel)]="flueVent.inside2" (ngModelChange)="onChange()">
                        <ion-option [value]="fraction.value" *ngFor="let fraction of fractions.get">{{fraction.name}}</ion-option>
                      </ion-select>
                  </ion-col>
                  <ion-col col-auto>
                      <span>inches</span>
                  </ion-col>
                </ion-row>

            </ng-template>

          </div>

        </ng-template>

      </div>


    </ion-grid>
  </ion-item-group>
</ion-card>


<!-- CONDITION SECTION -->
<wells-inspection-sheet-pane name="Condition" value="condition" numOfPhotos="4" [statusValue]="flueVent.condition.status"
  [photos]="flueVent.condition.pictures" [uuid]="flueVent.uuid" (deletePhoto)="handleDeletePhoto($event)" (status)="handleStatusOfPanes($event)"
  (commentsAndRec)="handleCommentsAndRec($event)" [testItem]="flueVent.condition" [typeOfComRec]="CommentOrRecType.condition"></wells-inspection-sheet-pane>


<!-- Insulation CONDITION SECTION -->
<wells-inspection-sheet-pane name="Insulation" value="insulation" [statusValue]="flueVent.insulation.status" [photos]="flueVent.insulation.pictures"
  [uuid]="flueVent.uuid" (deletePhoto)="handleDeletePhoto($event)" (status)="handleStatusOfPanes($event)" (commentsAndRec)="handleCommentsAndRec($event)"
  [testItem]="flueVent.insulation" [typeOfComRec]="CommentOrRecType.insulation"></wells-inspection-sheet-pane>


<!-- Cap SECTION -->
<wells-inspection-sheet-pane name="Cap" value="cap" [statusValue]="flueVent.cap.status" [photos]="flueVent.cap.pictures"
  [uuid]="flueVent.uuid" (deletePhoto)="handleDeletePhoto($event)" (status)="handleStatusOfPanes($event)" (commentsAndRec)="handleCommentsAndRec($event)"
  [testItem]="flueVent.cap" [typeOfComRec]="CommentOrRecType.cap"></wells-inspection-sheet-pane>