.signature-pad {
  font-size: 10px;
  width: 100%;
  height: 150px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

.signature-pad--body
  canvas {
    width: 100%;
    height: 150px;
  }

.no-signature{
  font-size: 5vmin;
  color: rgba(191, 188, 184, 0.64);
}