<ion-card>
  <ion-card-header>
    <div>Customer Signature:</div>
  </ion-card-header>
  <ion-card-content>
    <p class="pb2">By signing this electronic document, the customer acknowledges that this document will be sent via electronic mail (email)
      or sent in the mail to the customer. It is the customer’s responsibility to follow through with any recommendations.
    </p>
    <div #lockSignature *ngIf="lockSignature" style="position: absolute;background-color: transparent;" [ngStyle]="{width: lockWidth,height:lockHeight}"></div>
    <div class="signature-pad" #signaturePadDiv>
      <div class="signature-pad--body">
        <div class="no-signature center mt4" *ngIf="hasNoSignature">
          <span>No Signature <span>({{noSignatureReason}})</span></span>
        </div>
        <canvas #signaturePad></canvas>
      </div>
    </div>
  </ion-card-content>
  <ion-toolbar *ngIf="!lockSignature">
    <ion-buttons start>
      <button ion-button (click)="clear()">
        Clear
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="noSignatureSave('notAvailable')">
        Not Available
      </button>
      <button ion-button (click)="noSignatureSave('customerRefused')">
        Customer Refused
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-card>