<ion-header>
  <ion-navbar color="header" hideBackButton>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>record List</ion-title>
  </ion-navbar>
  <ion-list hideWhen="iphone">
    <ion-item class="header-color">
      <ion-row>
        <ion-col col-lg-2 col-md-2>
          Name
        </ion-col>
        <ion-col col-md-4 col-lg-4 class="mr1">
          Description
        </ion-col>
        <ion-col>
          Page
        </ion-col>
        <ion-col>
          Date
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content>

  <ion-list *ngIf="!!auditRecords.length; else elseBlock">

    <ion-item *ngFor="let record of auditRecords">

      <h2 showWhen="iphone">{{ record.name }}</h2>
      <p showWhen="iphone"> Description: {{ record.description }}</p>
      <p showWhen="iphone"> Page: {{ record.page }}</p>
      <p showWhen="iphone"> Date: {{ record.date | date:'medium' }}</p>

      <ion-row hideWhen="iphone">
        <ion-col col-lg-2 col-md-2>
          {{ record.name }}
        </ion-col>
        <ion-col col-md-4 col-lg-4 style="overflow-x: auto;" class="mr1">
          <div> {{ record.description }}</div>
        </ion-col>
        <ion-col>
          {{ record.page}}
        </ion-col>
        <ion-col>
          {{ record.date | date:'medium' }}
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ng-template #loading>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col class="center h1 pt4">
          Loading Audit Records....
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>

  <ng-template #noRecords>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col class="center h1 pt4">
          No Audit Records.
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>

</ion-content>