<ion-header>
  <ion-navbar color="header" hideBackButton>
    <button ion-button menuToggle style="display:block">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Comments and Recommendations List</ion-title>
    <ion-buttons end *ngIf="openedGroup !== undefined">
      <button ion-button right (click)="enableEditMode = !enableEditMode;">{{enableEditMode ? 'Done' : 'Edit'}}</button>
    </ion-buttons>
    <ion-buttons end *ngIf="openedGroup !== undefined">
      <button ion-button right (click)="refreshGroupingView(true)">Back</button>
    </ion-buttons>
  </ion-navbar>
  <ion-list inset >
    <ion-item class="input-color">
      <ion-input type="text" [disabled]="openedGroup === undefined" [placeholder]="(openedGroup !== undefined) ? 'Type here to add a comment or recommendation' : 'Click on an appliance below to edit the appliance\'s comments or recommendations.'" #inputGrouping (keyup.enter)="add(inputGrouping.value); inputGrouping.value=''"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="comments">
        Comments
      </ion-segment-button>
      <ion-segment-button value="recommendations">
        Recommendations
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>
<ion-content>
  <ion-list [reorder]="openedGroup !== undefined" (ionItemReorder)="reorderItems($event)" >
    <ng-template ngFor let-grouping [ngForOf]="commentsOrRecommendations" let-i="index">

      <!--text mode-->
      <ion-item-sliding *ngIf="!enableEditMode;else inputElse">
        <button ion-item (click)="onClick(grouping.name)">
          {{grouping.displayName}}
          <ion-icon *ngIf="openedGroup === undefined" name="ios-arrow-forward" item-end></ion-icon>
        </button>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="remove(grouping.name, grouping.index)">Delete</button>
        </ion-item-options>
      </ion-item-sliding>

      <!--input mode-->
      <ng-template #inputElse>
        <ion-item>
          <ion-input #inputGrouping [value]="grouping.name"  (keyup.enter)="update(inputGrouping.value, grouping.name, grouping.index)" (blur)="update(inputGrouping.value, grouping.name, grouping.index)"></ion-input>
          <button ion-button color="danger" item-right (click)="remove(grouping.name, grouping.index)">Delete</button>
        </ion-item>
      </ng-template>
    </ng-template>
  </ion-list>
</ion-content>
<ion-footer no-border>
  <div class="flex ml3 mr3" *ngIf="openedGroup !== undefined">
    <button ion-button (click)="add(inputGrouping.value); inputGrouping.value=''" class="flex-auto">Add</button>
  </div>
</ion-footer>