<ion-header>
  <ion-navbar hideBackButton="true" color="header">
    <button ion-button menuToggle style="display:block">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{updateMode ? 'Edit' : 'Create'}} Inspection</ion-title>
    <ion-buttons end>
      <button ion-button right (click)="enableEditMode = !enableEditMode;">{{enableEditMode ? 'Done' : 'Edit'}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ng-template ngFor let-chimney [ngForOf]="inspections$ | async" let-i="index">

      <!--row header start-->
      <ion-item-sliding *ngIf="!enableEditMode;else chimneyElse">
        <ion-item>
          {{chimney.name}}
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="removeAppliance(item,chimney)">Delete</button>
        </ion-item-options>
      </ion-item-sliding>
      <ng-template #chimneyElse>
        <ion-item>
          <ion-input #inspItem [attr.placeholder]="chimney.name" [value]="chimney.name" clearInput (blur)="updateApplianceName(inspItem.value,chimney)"></ion-input>
          <button ion-button color="danger" item-right (click)="removeAppliance(item,chimney)">Delete</button>
        </ion-item>
      </ng-template>
      <!--row header end-->

      <!--row start-->
      <ng-template ngFor let-appliance [ngForOf]="chimney.appliances">
        <ion-item-sliding *ngIf="!enableEditMode;else applianceElse">
          <ion-item [ngClass]="{'ind-3': appliance.name.includes('Flue/Vent'), 'ind-5': !appliance.name.includes('Flue/Vent')}">
            {{appliance.name}}
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="removeAppliance(item,appliance)">Delete</button>
          </ion-item-options>
        </ion-item-sliding>
        <ng-template #applianceElse>
          <ion-item [ngClass]="{'ind-3': appliance.name.includes('Flue/Vent'), 'ind-5': !appliance.name.includes('Flue/Vent')}">
            <ion-input #applItem [attr.placeholder]="appliance.name" [value]="appliance.name" clearInput (blur)="updateApplianceName(applItem.value,appliance)"></ion-input>
            <button ion-button color="danger" item-right (click)="removeAppliance(item,appliance)">Delete</button>
          </ion-item>
        </ng-template>
      </ng-template>
      <!--row start-->

    </ng-template>
  </ion-list>
</ion-content>
<ion-footer no-border>
  <ion-toolbar>
    <div class="flex justify-between">
      <button ion-button (click)="onButtonClick('create/update','inspectionMenu')" class="flex-auto">DONE</button>
      <button ion-button (click)="onButtonClick('cancel')" *ngIf="!editInspection" class="flex-auto">CANCEL</button>
    </div>
  </ion-toolbar>
</ion-footer>