<ion-list inset>

  <ion-list-header class="h1">
    {{ jobKey ? 'Update' : 'Create'}} Job
  </ion-list-header>

  <ion-item (click)="startDate($event)">
    <ion-label *ngIf="platform.is('core');else elseDateView">{{job.date | date:'longDate' || 'Start Date'}}</ion-label>
    <ng-template #elseDateView>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="job.date" style="padding-left: 0px;" min="2016" max="2025"></ion-datetime>
    </ng-template>
  </ion-item>

  <ion-item>
    <ion-label>Crew</ion-label>
    <ion-select interface="popover" [(ngModel)]="job.assigned" multiple="false">
      <ion-option [value]="crew.key" *ngFor="let crew of crews | async">{{crew.name}}</ion-option>
    </ion-select>
  </ion-item>

</ion-list>
<button ion-button color="dark" full (click)="createJob()" [disabled]="job.assigned === ''" class="m0">{{ jobKey ? 'Update' : 'Create'}} </button>
<button ion-button color="light" full (click)="closePopover()" class="m0">Cancel</button>