/* ion-title styles */
ion-title {
    text-align: center;
}

/* ion-icon styles */
ion-icon[name='search'] {
    position: relative;
    right: 15px;
}

/* ion-input styles */
ion-input {
    // border-bottom: solid white thin;
    input {
        color: white;
        margin: 5px 0 0 35px;
    }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}

@media(min-width:768px) {
    ion-title {
       text-align: left;
    }

    /* ion-icon styles */
    ion-icon[name='search'] {
        position: relative;
        top: 0px;
        right: 5px;
        cursor: pointer;
    }
}