<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-row>
      <ion-col col-11>
        <ion-title>Home Page</ion-title>
      </ion-col>
      <ion-col col-1>
        <ion-buttons right (click)="openSearchModal()">
          <button ion-button icon-only>
            <ion-icon color="light" name="search"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>

</ion-content>