<ion-header>
  <ion-navbar>
    <ion-searchbar (ionInput)="filterTownships($event)" (ionClear)="filterTownships('clear')"></ion-searchbar>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="townships$ | async as townships ;else elseBlock" style="height: 200px;">
    <ion-item *ngFor="let township of townships" (click)="onItemClick(township)">
      {{township}}
    </ion-item>
  </ion-list>
  <ng-template #elseBlock>
    <ion-list>
      <ion-item>
        No Data Available.
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>