<ion-list inset>

    <ion-list-header class="h1">
        Date Range
    </ion-list-header>

    <ion-item (click)="openCalendar($event,'startDate')" class="pointer">
        <ion-label fixed>Start Date:</ion-label>
        <ion-label *ngIf="platform.is('core');else elseStartDateView">{{job.startDate | date:'shortDate'}}</ion-label>
        <ng-template #elseStartDateView>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="job.startDate" style="padding-left: 0px;" min="2016" max="2025"></ion-datetime>
        </ng-template>
    </ion-item>

    <ion-item (click)="openCalendar($event,'endDate')" class="pointer">
        <ion-label fixed>End Date:</ion-label>
        <ion-label *ngIf="platform.is('core');else elseEndDateView">{{job.endDate | date:'shortDate'}}</ion-label>
        <ng-template #elseEndDateView>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="job.endDate" style="padding-left: 0px;" min="2016" max="2025"></ion-datetime>
        </ng-template>
    </ion-item>

</ion-list>
<button ion-button color="dark" full (click)="filter()" class="m0">Filter</button>
<button ion-button color="light" full (click)="closePopover()" class="m0">Cancel</button>