<div [ngSwitch]="sideMenuType$ | async" class="height-100">

  <!--Inspection List start-->
  <div *ngSwitchCase="'inspectionItemMenu'">
    <ion-list class="hover">
      <ion-item *ngFor="let inspectionItem of inspectionItems" (click)="onMenuClick('inspectionItem',inspectionItem)">{{inspectionItem}}</ion-item>
    </ion-list>
  </div>
  <!--Inspection List end-->

  <!--Inspection Configuration Menu start-->
  <div *ngSwitchCase="'inspectionConfigItemsMenu'">
    <ion-list class="hover">
      <ion-item *ngFor="let inspectionItem of inspectionItems" (click)="onMenuClick('inspectionConfigItems',inspectionItem)">{{inspectionItem}}</ion-item>
    </ion-list>
  </div>
  <!--Inspection Configuration Menu end-->

  <!--Inspection Report List start-->
  <div *ngSwitchCase="'inspectionMenu'">
    <ion-list class="hover">
      <ng-template ngFor let-chimney [ngForOf]="inspection$ | async" let-i="index">
        <ion-item (click)="onMenuClick('inspection',chimney)" [ngClass]="{active: chimney.index === chimneyClickedIndex, invalid:chimney.notValid, valid:!chimney.notValid}">{{chimney.name}} </ion-item>
        <ion-item *ngFor="let appliance of chimney.appliances" (click)="onMenuClick('inspection',appliance)" [ngClass]="{active: (appliance.index === itemClickedIndex && appliance.parentIndex === parentIndex), 'ind-3': appliance.type === ApplianceTypes['Flue/Vent'], 'ind-5': appliance.type !== ApplianceTypes['Flue/Vent'], invalid:appliance.notValid, valid:!appliance.notValid}">
          {{appliance.name}}
        </ion-item>
      </ng-template>
    </ion-list>
    <button ion-button full (click)="previewReport()">Preview Report</button>
  </div>
  <!--Inspection List end-->

  <div *ngSwitchDefault class="height-100 flex flex-column">
    <ion-list class="flex flex-auto flex-column hover">
      <ion-item-group>
        <ion-item (click)="onMenuClick('jobs-list')">
          <ion-icon name="briefcase" item-left></ion-icon> Jobs List
        </ion-item>
        <button detail-none ion-item (click)="onMenuClick('clients')" class="hover">
          <ion-icon name="md-contacts" item-left></ion-icon> Clients
          <ion-icon [name]="clientsMenuIcon" item-right></ion-icon>
        </button>
        <ion-item *ngIf="clientsMenu" class="ml2" (click)="onMenuClick('clients-list')">
          <ion-icon name="md-people" item-left></ion-icon> Clients List
        </ion-item>
        <ion-item *ngIf="clientsMenu" class="ml2" (click)="onMenuClick('add-client')">
          <ion-icon name="md-person-add" item-left></ion-icon> Add Client
        </ion-item>
      </ion-item-group>
      <ion-item-divider></ion-item-divider>
      <ion-item (click)="onMenuClick('audit-report')">
        <ion-icon name="stats" item-left></ion-icon> Audit Report
      </ion-item>
      <button detail-none ion-item (click)="onMenuClick('options')" class="hover" *ngIf="hasAdminMenu">
        <ion-icon name="options" item-left></ion-icon> Admin
        <ion-icon [name]="optionsMenuIcon" item-right></ion-icon>
      </button>
      <ng-container *ngFor="let item of adminMenuItems">
        <ion-item *ngIf="optionsMenu && hasAdminMenu" class="ml1" (click)="onMenuClick(item.menu)">
          <ion-icon [name]="item.icon" item-left></ion-icon> {{item.label}}
        </ion-item>
      </ng-container>
      <ion-item (click)="onMenuClick('log-out')">
        <ion-icon name="lock" item-left></ion-icon> Log-Out
      </ion-item>
    </ion-list>
    <div class="flex justify-between mb1">
      <div class="ml1">
          v6.0.18
      </div>
      <div class="mr1">
          UPDT: {{(lastSyncUpdate | async)?.timeStamp | date:'short'}}
      </div>
      
    </div>
  </div>
</div>