<!-- START OF THE SHEET -->
<ion-card>
  <ion-item-group>
    <ion-item-divider color="panel">{{headerName}}</ion-item-divider>
    <ion-grid>
      <ion-row>
        <ion-col col-lg-6 col-md-6 col-12 class="input">
          <ion-item>
            <ion-label floating>Name:</ion-label>
            <ion-input type="text" tabindex="1" [(ngModel)]="fireplace.name" name="name" (change)="onChange('name')"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-lg-6 col-md-6 col-12>
          <ion-item>
            <ion-label stacked>Location:</ion-label>
            <ion-select interface="popover" [(ngModel)]="fireplace.location" name="location" (ngModelChange)="onChange()">
              <ion-option [value]="location" *ngFor="let location of locations">{{location}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-lg-6 col-md-6 col-12>
          <ion-label style="padding-left: 1.5rem;">Fuel Type:</ion-label>
          <ion-segment style="padding-left: 1.5rem;" [(ngModel)]="fireplace.fuelType" color="primary" (ngModelChange)="onChange()">
            <ion-segment-button value="Wood">
              Wood
            </ion-segment-button>
            <ion-segment-button value="Gas">
              Gas
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-lg-6 col-md-6 col-12>
          <ion-label style="padding-left: 1.5rem;">Firebox Material:</ion-label>
          <ion-segment style="padding-left: 1.5rem;" [(ngModel)]="fireplace.fireboxMaterial" color="primary" (ngModelChange)="onChange()">
            <ion-segment-button value="Masonry">
              Masonry
            </ion-segment-button>
            <ion-segment-button value="Metal">
              Metal
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item-group>
</ion-card>

<!--Picture Section-->
<wells-inspection-sheet-pane name="Required Pictures" section="requiredPhoto" value="requiredPics" [photos]="fireplace.requiredPics.pictures"
  [uuid]="fireplace.uuid" (status)="handleStatusOfPanes($event)" type="appliance" (deletePhoto)="handleDeletePhoto($event)">
</wells-inspection-sheet-pane>

<!-- FIREBOX SECTION -->
<wells-inspection-sheet-pane name="Firebox" value="firebox" numOfPhotos="2" [statusValue]="fireplace.firebox.status" (status)="handleStatusOfPanes($event)"
  [photos]="fireplace.firebox.pictures" [uuid]="fireplace.uuid" (deletePhoto)="handleDeletePhoto($event)" (commentsAndRec)="handleCommentsAndRec($event)"
  [testItem]="fireplace.firebox" [typeOfComRec]="CommentOrRecType.firebox">

  <!-- Firebox Width -->
  <ion-row class="ml2">
    <ion-col col-lg-4 col-md-4 col-12 class="flex items-center input font-size-item">
      <ion-label class="ml2 mr0" style="flex: .6;">Width:</ion-label>
      <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="2" [(ngModel)]="fireplace.firebox.width_whole" name="width_whole"
        (change)="setStatusOfHearth()"></ion-input>
      <ion-label class="select-label ml1 text-overflow-initial">inches</ion-label>
    </ion-col>
  </ion-row>

  <!-- Firebox Height -->
  <ion-row style="flex-wrap:nowrap" class="ml2">
    <ion-col col-lg-4 col-md-4 col-12 class="flex items-center input font-size-item">
      <ion-label class="ml2 mr0" style="flex: .6;">Height:</ion-label>
      <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="3" [(ngModel)]="fireplace.firebox.height_whole" name="height_whole"
        (change)="setStatusOfHearth()"></ion-input>
      <ion-label class="select-label ml1 text-overflow-initial">inches</ion-label>
    </ion-col>
    <ion-col col-lg-4 col-md-4 col-12 class="flex items-center input font-size-item">
      <ion-label style="flex: .8;">Sq Total:</ion-label>
      <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk [(ngModel)]="fireplace.firebox.square_foot_total" name="square_foot_total"></ion-input>
      <ion-label class="select-label ml1 text-overflow-initial">inches</ion-label>
    </ion-col>
  </ion-row>


  <!-- Firebox Depth -->
  <ion-row class="ml2">
    <ion-col col-lg-4 col-md-4 col-12 class="flex items-center input font-size-item">
      <ion-label class="ml2 mr0" style="flex: .6;">Depth:</ion-label>
      <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="5" [(ngModel)]="fireplace.firebox.depth_whole" name="depth_whole"
        (change)="onChange()"></ion-input>
      <ion-label class="select-label ml1 text-overflow-initial">inches</ion-label>
    </ion-col>
  </ion-row>
</wells-inspection-sheet-pane>


<!-- HEARTH SECTION -->
<wells-inspection-sheet-pane name="Hearth" value="hearth" [statusValue]="fireplace.hearth.status" (status)="handleStatusOfPanes($event)"
  [photos]="fireplace.hearth.pictures" [uuid]="fireplace.uuid" (deletePhoto)="handleDeletePhoto($event)" (commentsAndRec)="handleCommentsAndRec($event)"
  [testItem]="fireplace.hearth" [typeOfComRec]="CommentOrRecType.hearth" [failureReasonCode]="scFailReasonCode" [disabled]="!unlockhearthSection">
  <br />
  <ion-row class="ml2">
    <ion-col col-lg-3 col-md-3 col-12 class="flex font-size-item input items-center mr1 pr0">
      <ion-label class="mr0" style="flex: 1.2;">Depth:</ion-label>
      <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="6" [(ngModel)]="fireplace.hearth.depth" name="depth" 
        (change)="setStatusOfHearth()" [disabled]="!unlockhearthSection"></ion-input>
      <ion-label class="select-label ml1 text-overflow-initial">inches</ion-label>
    </ion-col>
    <ion-col col-lg-3 col-md-3 col-12 class="flex items-center input font-size-item">
      <ion-label class="mr0" style="flex: .8;">Right:</ion-label>
      <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="7" [(ngModel)]="fireplace.hearth.right" name="right"
        (change)="setStatusOfHearth()" [disabled]="!unlockhearthSection"></ion-input>
      <ion-label class="select-label ml1 text-overflow-initial">inches</ion-label>
    </ion-col>
    <ion-col col-lg-3 col-md-3 col-12 class="flex items-center input font-size-item">
      <ion-label class="mr0" style="flex: .8;">Left:</ion-label>
      <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="8" [(ngModel)]="fireplace.hearth.left" name="left"
        (change)="setStatusOfHearth()" [disabled]="!unlockhearthSection"></ion-input>
      <ion-label class="select-label ml1 text-overflow-initial">inches</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 class="bold ml2 note-line-height pr4">
      <div>
        If firebox opening is less than 6 square feet (864 sq. inches) than hearth code is at least 16” depth and 8” per side.
      </div>
      <div>
        If firebox opening is 6 square feet (864 sq. inches) or more than hearth code is at least 20” depth and 12” per side.
      </div>
    </ion-col>
  </ion-row>
</wells-inspection-sheet-pane>


<!-- SURROUND CLEARANCE SECTION -->
<wells-inspection-sheet-pane name="Surround Clearance" value="surroundClearance" [statusValue]="fireplace.surroundClearance.status"
  (status)="handleStatusOfPanes($event)" [photos]="fireplace.surroundClearance.pictures" [uuid]="fireplace.uuid" (deletePhoto)="handleDeletePhoto($event)"
  (commentsAndRec)="handleCommentsAndRec($event)" [testItem]="fireplace.surroundClearance" [typeOfComRec]="CommentOrRecType.surroundClearance"
  [failureReasonCode]="scFailReasonCode" [disabled]="true">
  <ion-row class="bold">
    <ion-col offset-lg-4 offset-md-4 col-lg-auto hideWhen="iphone">
      Clearance to Combustibles:
    </ion-col>
    <ion-col class="pl2" hideWhen="iphone">
      Mantel Thickness:
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-lg-4 col-md-4 col-12>
      <ion-img width="203px" height="202px" style="background:#ffffff;top: -32px;position: relative;" src="assets/surroundClearancesPicture.jpg" hideWhen="iphone"></ion-img>
      <ion-img width="203px" height="202px" style="background:#ffffff;top: 4px; left:20%; position: relative;" src="assets/surroundClearancesPicture.jpg" showWhen="iphone"></ion-img>
    </ion-col>
    <ion-col>
      <ion-row class="items-center" [ngStyle]="{color: fireplace.surroundClearance.enableXSide ? 'black':'gainsboro'}">
        <ion-col col-lg-1 col-1>
          <ion-checkbox [(ngModel)]="fireplace.surroundClearance.enableXSide" (ionChange)="setStatusOfSurroundClearance()"></ion-checkbox>
        </ion-col>
        <ion-col col-lg-4 col-md-4 col-5 class="flex items-center input" style="font-size: 1.2em;">
          <ion-label class="mr0" style="flex: .3;">X:</ion-label>
          <ion-input class="no-float-label" tabindex="9" type="tel" wellsSelectAll wellsReplaceAsterisk [disabled]="!fireplace.surroundClearance.enableXSide" [(ngModel)]="fireplace.surroundClearance.x"
            name="surroundClearance.x" (change)="setStatusOfSurroundClearance()"></ion-input>
          <ion-label class="select-label ml1 text-overflow-initial">inches</ion-label>
        </ion-col>
        <ion-col col-lg-5  col-md-5 col-6 class="flex items-center input border-left" style="font-size: 1.2em;min-height: 52px;">
          <ion-label class="mr0 text-overflow-initial hide" style="flex: .8;">Side X:</ion-label>
          <ion-input class="no-float-label hide" tabindex="10" type="tel" wellsSelectAll wellsReplaceAsterisk [disabled]="!fireplace.surroundClearance.enableXSide"
            name="surroundClearance.sideX"></ion-input>
          <ion-label class="select-label ml1 text-overflow-initial hide">inches</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="items-center" [ngStyle]="{color: fireplace.surroundClearance.enableYSide ? 'black':'gainsboro'}">
        <ion-col col-lg-1 col-md-1 col-1>
          <ion-checkbox [(ngModel)]="fireplace.surroundClearance.enableYSide" (ionChange)="setStatusOfSurroundClearance()"></ion-checkbox>
        </ion-col>
        <ion-col col-lg-4 col-md-4 col-5 class="flex items-center input" style="font-size: 1.2em;">
          <ion-label class="mr0" style="flex: .3;">Y:</ion-label>
          <ion-input class="no-float-label" tabindex="11" type="tel" wellsSelectAll wellsReplaceAsterisk [disabled]="!fireplace.surroundClearance.enableYSide" [(ngModel)]="fireplace.surroundClearance.y"
            name="surroundClearance.y" (change)="setStatusOfSurroundClearance()"></ion-input>
          <ion-label class="select-label ml1 text-overflow-initial">inches</ion-label>
        </ion-col>
        <ion-col col-lg-5 col-md-5 col-6 class="flex items-center input border-left" style="font-size: 1.2em;min-height: 52px;">
          <ion-label class="mr0 text-overflow-initial hide" style="flex: .8;">Side Y:</ion-label>
          <ion-input class="no-float-label hide" tabindex="12" type="tel" wellsSelectAll wellsReplaceAsterisk [disabled]="!fireplace.surroundClearance.enableYSide"
            name="surroundClearance.sideY"></ion-input>
          <ion-label class="select-label ml1 text-overflow-initial hide">inches</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="items-center" [ngStyle]="{color: fireplace.surroundClearance.enableZSide ? 'black':'gainsboro'}">
        <ion-col col-lg-1 col-md-1 col-1>
          <ion-checkbox [(ngModel)]="fireplace.surroundClearance.enableZSide" (ionChange)="setStatusOfSurroundClearance()"></ion-checkbox>
        </ion-col>
        <ion-col col-lg-4 col-md-4 col-5 class="flex items-center input" style="font-size: 1.2em;">
          <ion-label class="mr0" style="flex: .3;">Z:</ion-label>
          <ion-input class="no-float-label" tabindex="13" type="tel" wellsSelectAll wellsReplaceAsterisk [disabled]="!fireplace.surroundClearance.enableZSide" [(ngModel)]="fireplace.surroundClearance.z"
            name="surroundClearance.z" (change)="setStatusOfSurroundClearance()"></ion-input>
          <ion-label class="select-label ml1 text-overflow-initial ">inches</ion-label>
        </ion-col>
        <ion-col col-lg-5 col-md-5 col-6 class="flex items-center input border-left" style="font-size: 1.2em;">
          <ion-label class="mr0 text-overflow-initial" style="flex: .8;">Top Z:</ion-label>
          <ion-input class="no-float-label" tabindex="14" type="tel" wellsSelectAll wellsReplaceAsterisk [disabled]="!fireplace.surroundClearance.enableZSide" [(ngModel)]="fireplace.surroundClearance.sideZ"
            name="surroundClearance.sideZ" (change)="setStatusOfSurroundClearance()"></ion-input>
          <ion-label class="select-label ml1 text-overflow-initial">inches</ion-label>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="bold ml2 note-line-height pr2">
      Side clearances is a minimum of 6 inches. Clearance above is at least 6 inches if the combustible is 1 ½ inches or less thick.
      If thickness is greater than 1 ½ inches it needs to be at least 12 inches.
    </ion-col>
  </ion-row>
</wells-inspection-sheet-pane>


<!-- DAMPER SECTION -->
<wells-inspection-sheet-pane name="Damper" value="damper" [statusValue]="fireplace.damper.status" (status)="handleStatusOfPanes($event)"
  [photos]="fireplace.damper.pictures" [uuid]="fireplace.uuid" (deletePhoto)="handleDeletePhoto($event)" (commentsAndRec)="handleCommentsAndRec($event)"
  [testItem]="fireplace.damper" [typeOfComRec]="CommentOrRecType.damper"></wells-inspection-sheet-pane>


<!-- SMOKE CHAMBER SECTION -->
<wells-inspection-sheet-pane name="Smoke Chamber" value="smokeChamber" numOfPhotos="2" [statusValue]="fireplace.smokeChamber.status"
  (status)="handleStatusOfPanes($event)" [photos]="fireplace.smokeChamber.pictures" [uuid]="fireplace.uuid" (deletePhoto)="handleDeletePhoto($event)"
  (commentsAndRec)="handleCommentsAndRec($event)" [testItem]="fireplace.smokeChamber" [typeOfComRec]="CommentOrRecType.smokeChamber"></wells-inspection-sheet-pane>