<!-- START OF THE SHEET -->
<ion-card>
  <ion-item-group>
    <ion-item-divider color="panel">Dryer Vent</ion-item-divider>
    <ion-grid>
      <ion-row>
        <ion-col col-lg-6 col-md-6 col-12 class="input">
          <ion-item>
            <ion-label stacked>Name:</ion-label>
            <ion-input tabindex="1" placeholder="Name" type="text" [(ngModel)]="dryerVent.name" name="name" (change)="onChange('name')"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-lg-6 col-md-6 col-12>
          <ion-label style="padding-left: 1.5rem;">Fuel Type:</ion-label>
          <ion-segment style="padding-left: 1.5rem;" [(ngModel)]="dryerVent.fuel" (ngModelChange)="onChange()">
            <ion-segment-button value="Natural Gas">
              Natural Gas
            </ion-segment-button>
            <ion-segment-button value="Electric">
              Electric
            </ion-segment-button>
            <ion-segment-button value="Propane">
              Propane
            </ion-segment-button>
          </ion-segment>
        </ion-col>

        <ion-col col-lg-6 col-md-6 col-12 class="input">
          <ion-item>
            <ion-label floating>Dryer Make:</ion-label>
            <ion-input type="text" tabindex="2" [(ngModel)]="dryerVent.dryerMake" name="dryerMake" (change)="onChange()"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-lg-6 col-md-6 col-12>
          <ion-label style="padding-left: 1.5rem;">Dryer Type:</ion-label>
          <ion-segment style="padding-left: 1.5rem;" [(ngModel)]="dryerVent.dryerType" (ngModelChange)="onChange()">
            <ion-segment-button value="Residential">
              Residential
            </ion-segment-button>
            <ion-segment-button value="Commercial">
              Commercial
            </ion-segment-button>
          </ion-segment>
        </ion-col>

        <ion-col col-lg-6 col-md-6 col-12 class="input">
          <ion-item>
            <ion-label floating>Distance To Termination:</ion-label>
            <ion-input type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="3" [(ngModel)]="dryerVent.distanceToTermination" name="distanceToTermination" (change)="onChange()"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-lg-6 col-md-6 col-12>
          <ion-label style="padding-left: 1.5rem;">Duct Material:</ion-label>
          <ion-segment style="padding-left: 1.5rem;" [(ngModel)]="dryerVent.ductMaterial" (ngModelChange)="onChange()">
            <ion-segment-button value="Plastic">
              Plastic
            </ion-segment-button>
            <ion-segment-button value="Metal">
              Metal
            </ion-segment-button>
          </ion-segment>
        </ion-col>

        <ion-col col-lg-6 col-md-6 col-12 class="input">
          <ion-item>
            <ion-label floating>Flow Before Cleaning:</ion-label>
            <ion-input type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="4" [(ngModel)]="dryerVent.flowBeforeCleaning" name="flowBeforeCleaning" (change)="onChange()"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-lg-6 col-md-6 col-12>
          <ion-label style="padding-left: 1.5rem;">Termination Location:</ion-label>
          <ion-segment style="padding-left: 1.5rem;" [(ngModel)]="dryerVent.terminationLocation" (ngModelChange)="onChange()">
            <ion-segment-button value="Roof">
              Roof
            </ion-segment-button>
            <ion-segment-button value="Wall">
              Wall
            </ion-segment-button>
          </ion-segment>
        </ion-col>

        <ion-col col-lg-6 col-md-6 col-12 class="input">
          <ion-item>
            <ion-label floating>Flow After Cleaning:</ion-label>
            <ion-input type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="5" [(ngModel)]="dryerVent.flowAfterCleaning" name="flowAfterCleaning" (change)="onChange()"></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col col-lg-6 col-md-6 col-12 class="input">
          <ion-item>
            <ion-label floating>Number of Turns (deg):</ion-label>
            <ion-input type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="6" [(ngModel)]="dryerVent.numberOfTurns" name="numberOfTurns" (change)="onChange()"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item-group>
</ion-card>

<!--Picture Section-->
<wells-inspection-sheet-pane name="Required Pictures" section="requiredPhoto" value="requiredPics" [photos]="dryerVent.requiredPics.pictures"
  [uuid]="dryerVent.uuid" (status)="handleStatusOfPanes($event)" type="appliance" (deletePhoto)="handleDeletePhoto($event)">
</wells-inspection-sheet-pane>

<!-- VENT CONDITION SECTION -->
<wells-inspection-sheet-pane name="Vent Condition" value="ventCondition" [statusValue]="dryerVent.ventCondition.status" [photos]="dryerVent.ventCondition.pictures"
  [uuid]="dryerVent.uuid" (status)="handleStatusOfPanes($event)" (deletePhoto)="handleDeletePhoto($event)" (commentsAndRec)="handleCommentsAndRec($event)"
  [testItem]="dryerVent.ventCondition" [typeOfComRec]="CommentOrRecType.ventCondition"></wells-inspection-sheet-pane>


<!-- TERMINATION CONDITION SECTION -->
<wells-inspection-sheet-pane name="Termination Condition" value="terminationCondition" [statusValue]="dryerVent.terminationCondition.status"
  [photos]="dryerVent.terminationCondition.pictures" [uuid]="dryerVent.uuid" (status)="handleStatusOfPanes($event)" (deletePhoto)="handleDeletePhoto($event)"
  (commentsAndRec)="handleCommentsAndRec($event)" [testItem]="dryerVent.terminationCondition" [typeOfComRec]="CommentOrRecType.terminationCondition"></wells-inspection-sheet-pane>


<!-- ACCESSIBILITY SECTION -->
<wells-inspection-sheet-pane name="Accessibility" value="accessibility" [statusValue]="dryerVent.accessibility.status" [photos]="dryerVent.accessibility.pictures"
  [uuid]="dryerVent.uuid" (status)="handleStatusOfPanes($event)" (deletePhoto)="handleDeletePhoto($event)" (commentsAndRec)="handleCommentsAndRec($event)"
  [testItem]="dryerVent.accessibility" [typeOfComRec]="CommentOrRecType.accessibility"></wells-inspection-sheet-pane>

<!-- OTHER SECTION -->
<wells-inspection-sheet-pane name="Other" value="other" numOfPhotos="2" [statusValue]="dryerVent.other.status" [photos]="dryerVent.other.pictures"
  [uuid]="dryerVent.uuid" (status)="handleStatusOfPanes($event)" (deletePhoto)="handleDeletePhoto($event)" (commentsAndRec)="handleCommentsAndRec($event)"
  [testItem]="dryerVent.other" [typeOfComRec]="CommentOrRecType.other"></wells-inspection-sheet-pane>