<ion-header>
  <ion-navbar color="header" hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div class="">
        <span class="">Job List</span>  
        <span *ngIf="isFiltered" style="float: right;">Filtering: {{filterMessage}}</span> 
      </div>
    </ion-title>
    <ion-buttons end>
      <button *ngIf="showSyncBtn" icon-only color="light" clear ion-button (click)="onSync()">
        <ion-icon name="md-repeat"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="dateView" class="pl1 pr1">
      <ion-segment-button [value]="DateFilterView.today" (ionSelect)="onDateFilterSelect('today')">
        Today
      </ion-segment-button>
      <ion-segment-button [value]="DateFilterView.tomorrow" (ionSelect)="onDateFilterSelect('tomorrow')" [class.hide]="!hasTomorrowTab">
        Tomorrow
      </ion-segment-button>
      <ion-segment-button [value]="DateFilterView.completed" (ionSelect)="onDateFilterSelect('completed')">
        Completed
      </ion-segment-button>
      <ion-segment-button [value]="DateFilterView.incomplete" (ionSelect)="onDateFilterSelect('incomplete')" [class.hide]="!hasIncomplete">
        Incomplete
      </ion-segment-button>
      <ion-segment-button [value]="DateFilterView.all" (ionSelect)="onDateFilterSelect('all')" [class.hide]="!hasAllTab">
        All
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-list 
    [reorder]="showReorder" 
    class="hide-reorder" 
    hideWhen="iphone">
    <ion-item class="header-color">
      <ion-row>
        <ion-col col-lg-4 col-md-4>
         <span class="pointer" (click)="displayFilterPopover($event,'client')">Client</span>
        </ion-col>
        <ion-col col-md-2 col-lg>
          <span class="pointer" (click)="displayFilterPopover($event,'crew')">Crew</span>
        </ion-col>
        <ion-col>
          Status
        </ion-col>
        <ion-col>
          <span class="pointer" (click)="displayFilterPopover($event,'date')">Date</span>
        </ion-col>
        <ion-col col-1 *ngIf="hasCheckboxes">
          Insp
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content>

  <ng-template #loading>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col class="center h1 pt4">
          Loading Jobs....
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>

  <ion-list *ngIf="!!jobs.length; else elseBlock" [reorder]="showReorder" (ionItemReorder)="reorderItems($event)" class="flex-auto">

    <ion-item *ngFor="let job of jobs">

      <h2 showWhen="iphone" (click)="presentPopup(job)">{{ job.client | clientRecord | async | clientName }}</h2>
      <p showWhen="iphone" (click)="presentPopup(job)"> Crew: {{ job.assigned | crewName | async }}</p>
      <p showWhen="iphone" (click)="presentPopup(job)"> Status: {{ Status[job.status] }}</p>
      <p showWhen="iphone" (click)="presentPopup(job)"> Date: {{ job.date | date:'shortDate' }}</p>


      <ion-row hideWhen="iphone" class="pointer">
        <ion-col col-lg-4 col-md-4 (click)="presentPopup(job)" class="flex">
          {{ job.client | clientRecord | async | clientName }}
          <ion-icon name="md-checkmark-circle-outline" *ngIf="job.certification" class="pl1 green"></ion-icon>
        </ion-col>
        <ion-col col-md-2 col-lg (click)="presentPopup(job)">
          {{ job.assigned | crewName | async }}
        </ion-col>
        <ion-col (click)="presentPopup(job)">
          {{ Status[job.status] }}
        </ion-col>
        <ion-col (click)="presentPopup(job)">
          {{ job.date | date:'shortDate' }}
        </ion-col>
        <ion-col col-1 *ngIf="hasCheckboxes" (click)="addToDownloadReportQueue(job.key)">
          <ion-icon *ngIf="isFinalized(job.key)" [name]="checkBoxesState[job.key] ? 'md-checkbox': 'md-square'" class="font-size-4"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ng-template #noJobs>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col class="center h1 pt4">
          No jobs for the current view.
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>

  <ion-fab bottom right *ngIf="!!downloadReportQueue.length" (click)="generatePDFReport()" [class.disabled]="showGenerateReport" style="width: 20%;">
    <button ion-fab *ngIf="!showGenerateReport">Download {{downloadReportQueue.length === 1 ? ' Report ': ' Reports '}} ({{downloadReportQueue.length}})</button>
    <button ion-fab *ngIf="showGenerateReport" style="background-color: #058a05;">Generating PDF Report</button>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="5%" *ngIf="[DateFilterView.all].includes(dateView) ">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<ion-footer no-border>
    <ion-toolbar>
      <button ion-button style="width: 99%;" *ngIf="dateView === DateFilterView.incomplete && !loadMoreBtnDisabled" (click)="loadMoreData()">Load More Records</button>
    </ion-toolbar>
</ion-footer>