@for $i from 1 through 6 {
  .font-size-#{$i} { 
        font-size: #{1 + ($i/10)}em; 
    }
}

.header-color{
    background-color: rgba(220, 220, 220, 0.38);
}

ion-header{
    ion-list{
        margin: 0px;
    }
}

:host {
    button.fab{
        border-radius: 3px;
        width: 100%;
        height: 30px;
        padding: 20px;
        font-size: 20px;
    }
    .disabled{
        pointer-events: none;
    }
    .green{
        color: green;
    }
}