<ion-content>
  <ion-list class="hover">
    <form [formGroup]="form">
      <ion-input formControlName="search" type="text" placeholder="Search" clearInput class="pl3"></ion-input>
    </form>
    <ion-item *ngFor="let item of items" (click)="onClick(item)">
      {{item}}
    </ion-item>
  </ion-list>
</ion-content>