<ion-header>
  <ion-navbar color="header" hideBackButton>
    <button ion-button menuToggle style="display:block">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title color="light">Users</ion-title>
  </ion-navbar>
  <ion-list hideWhen="iphone">
    <ion-item class="header-color">
      <ion-row>
        <ion-col col-5>
          Name
        </ion-col>
        <ion-col col-7>
          Crew
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of users; let i = index" (click)="showMenuOptions(user)">

      <!--Iphone only-->
      <h2 showWhen="iphone">{{ user.firstName }} {{ user.lastName }}</h2>
      <p showWhen="iphone" class="wrap"> {{user.crew | crewName | async}}</p>

      <ion-row hideWhen="iphone">
        <ion-col col-5>
          {{ user.firstName }} {{ user.lastName }}
        </ion-col>
        <ion-col col-7>
          {{user.crew | crewName | async}}
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>