<!-- START OF THE SHEET -->
<ion-card>
  <ion-item-group>
    <ion-item-divider color="panel">Stove</ion-item-divider>
    <ion-grid>
      <ion-row>
        <ion-col col-lg-6 col-md-6 col-12 class="flex items-center input font-size-item">
          <ion-item>
            <ion-label stacked>Name</ion-label>
            <ion-input tabindex="1" type="text" [(ngModel)]="stoves.name" name="name" (change)="onChange('name')"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-lg-6 col-md-6 col-12>
          <ion-label style="padding-left: 1.5rem;">Fuel:</ion-label>
          <ion-segment style="padding-left: 1.5rem;" [(ngModel)]="stoves.fuel" color="primary" (ngModelChange)="onChange()">
            <ion-segment-button value="Wood">
              Wood
            </ion-segment-button>
            <ion-segment-button value="Pellet">
              Pellet
            </ion-segment-button>
            <ion-segment-button value="Coal">
              Coal
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-lg-6 col-md-6 col-12>
          <ion-item>
            <ion-label stacked>Location:</ion-label>
            <ion-select interface="popover" class="no-float-label" [(ngModel)]="stoves.location" name="location" (ngModelChange)="onChange()">
              <ion-option [value]="location" *ngFor="let location of locations">{{location}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-lg-6 col-md-6 col-12>
          <ion-label style="padding-left: 1.5rem;">Type:</ion-label>
          <ion-segment style="padding-left: 1.5rem;" [(ngModel)]="stoves.type" color="primary" (ngModelChange)="onChange()">
            <ion-segment-button value="Free Standing">
              Free Standing
            </ion-segment-button>
            <ion-segment-button value="Insert">
              Insert
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-lg-6 offset-lg-6 col-md-6 offset-md-6 col-12 *ngIf="stoves.type === 'Insert'">
          <ion-label style="padding-left: 1.5rem;">If Insert:</ion-label>
          <ion-segment style="padding-left: 1.5rem;" [(ngModel)]="stoves.ifInsert" color="primary" (ngModelChange)="onChange()">
            <ion-segment-button value="Lined To Top">
              Lined To Top
            </ion-segment-button>
            <ion-segment-button value="Partial Liner">
              Partial Liner
            </ion-segment-button>
            <ion-segment-button value="No Liner">
              No Liner
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-item-group>
</ion-card>

<!--Picture Section-->
<wells-inspection-sheet-pane name="Required Pictures" section="requiredPhoto" value="requiredPics" [photos]="stoves.requiredPics.pictures"
  [uuid]="stoves.uuid" (status)="handleStatusOfPanes($event)" type="appliance" (deletePhoto)="handleDeletePhoto($event)">
</wells-inspection-sheet-pane>

<!-- STOVE CONDITION SECTION -->
<wells-inspection-sheet-pane name="Stove Condition" value="stoveCondition" [statusValue]="stoves.stoveCondition.status" (status)="handleStatusOfPanes($event)"
  [photos]="stoves.stoveCondition.pictures" [uuid]="stoves.uuid" (deletePhoto)="handleDeletePhoto($event)" (commentsAndRec)="handleCommentsAndRec($event)"
  [testItem]="stoves.stoveCondition" [typeOfComRec]="CommentOrRecType.stoveCondition"></wells-inspection-sheet-pane>


<!-- STOVE PIPE SECTION -->
<wells-inspection-sheet-pane name="Stove Pipe" value="stovePipe" numOfPhotos="2" [statusValue]="stoves.stovePipe.status"
  (status)="handleStatusOfPanes($event)" [photos]="stoves.stovePipe.pictures" [uuid]="stoves.uuid" (deletePhoto)="handleDeletePhoto($event)"
  (commentsAndRec)="handleCommentsAndRec($event)" [testItem]="stoves.stovePipe" [typeOfComRec]="CommentOrRecType.stovePipe">
  <ion-row class="header">
    <ion-col offset-md-5>
      Pipe Clearance:
    </ion-col>
  </ion-row>

  <ion-row class="ml3" align-items-center>
    <ion-col col-auto>
        Pipe Type:
    </ion-col>
    <ion-col col-md-4 col-7>
      <ion-select interface="popover" class="no-float-label" [(ngModel)]="stoves.stovePipe.pipe_type" name="pipe_type"
        (ngModelChange)="onChange()">
        <ion-option [value]="pipeType" *ngFor="let pipeType of pipeTypes">{{pipeType}}</ion-option>
      </ion-select>
    </ion-col>

    <ion-col col-auto>
        Pipe Size:
    </ion-col>
    <ion-col col-md-4 col-7>
      <ion-select interface="popover" class="no-float-label" [(ngModel)]="stoves.stovePipe.pipe_size" name="pipe_size"
        (ngModelChange)="onChange()">
        <ion-option [value]="pipeSize" *ngFor="let pipeSize of pipeSizes">{{pipeSize}}</ion-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row class="ml3" align-items-center>
    <ion-col col-auto>
      To Wall:
    </ion-col>
    <ion-col col-md-4 col-7>
      <ion-input class="no-float-label mr1" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="2" [(ngModel)]="stoves.stovePipe.to_wall" name="to_wall"
      (change)="onChange()"></ion-input>
    </ion-col>
    <ion-col col-auto>
      inches
    </ion-col>
    
    <ion-col col-auto>
      To Ceiling:
    </ion-col>
    <ion-col col-md-4 col-6>
      <ion-input class="no-float-label mr1" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="3" [(ngModel)]="stoves.stovePipe.to_ceiling" name="to_ceiling"
      (change)="onChange()"></ion-input>
    </ion-col>
    <ion-col col-auto>
      inches
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col col-12 class="bold ml2 note-line-height pr3">
      Single wall stove pipe needs to be a minimum of 18 inches from combustibles. If a heat shield with a 1 inch air gap is installed
      then it is 9 inches
    </ion-col>
  </ion-row>
</wells-inspection-sheet-pane>


<!-- STOVE CLEARANCES SECTION -->
<wells-inspection-sheet-pane name="Stove Clearances" value="stoveClearances" numOfPhotos="2" [statusValue]="stoves.stoveClearances.status"
  (status)="handleStatusOfPanes($event)" [photos]="stoves.stoveClearances.pictures" [uuid]="stoves.uuid" (deletePhoto)="handleDeletePhoto($event)"
  (commentsAndRec)="handleCommentsAndRec($event)" [testItem]="stoves.stoveClearances" [typeOfComRec]="CommentOrRecType.stoveClearances">
  <ion-row class="ml2">
    <ion-col col-lg-3 col-md-3 col-8 class="flex items-center input font-size-item">
      <ion-label class="mr0  pr1" style="flex: .9;">Back:</ion-label>
      <ion-input class="no-float-label" tabindex="4" type="tel" wellsSelectAll wellsReplaceAsterisk [(ngModel)]="stoves.stoveClearances.back" name="back" (change)="onChange()"></ion-input>
      <ion-label class="select-label ml1 text-overflow-initial">inches</ion-label>
    </ion-col>
    <ion-col col-lg-3 col-md-3 col-8 class="flex items-center input font-size-item">
      <ion-label style="flex: .9;">Right:</ion-label>
      <ion-input class="no-float-label" tabindex="5" type="tel" wellsSelectAll wellsReplaceAsterisk [(ngModel)]="stoves.stoveClearances.right" name="right" (change)="onChange()"></ion-input>
      <ion-label class="select-label ml1 text-overflow-initial">inches</ion-label>
    </ion-col>
    <ion-col col-lg-3 col-md-3 col-8 class="flex items-center input font-size-item">
      <ion-label style="flex: .4;" class="mr0 max-width-25">Left:</ion-label>
      <ion-input class="no-float-label max-width-30" tabindex="6" type="tel" wellsSelectAll wellsReplaceAsterisk [(ngModel)]="stoves.stoveClearances.left" name="left" (change)="onChange()"></ion-input>
      <ion-label class="select-label ml1 text-overflow-initial">inches</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 class="bold ml2 note-line-height pr2">
      <div>
        36 inches from combustibles unless owner’s manual has other guidelines.
      </div>
      <div>
        18" from combustibles if heat shield with 1" air gap.
      </div>
      <div>
        24 inches if 3 ½ inch masonry wall with no air gap.
      </div>
      <div>
        12 inches if 3 ½ masonry wall has non flammable material with 1 inch air gap
      </div>
    </ion-col>
  </ion-row>
</wells-inspection-sheet-pane>


<!-- HEARTH PAD PROTECTION SECTION -->
<wells-inspection-sheet-pane name="Hearth Pad Protection" value="hearthPadProtection" [statusValue]="stoves.hearthPadProtection.status"
  (status)="handleStatusOfPanes($event)" [photos]="stoves.hearthPadProtection.pictures" [uuid]="stoves.uuid" (deletePhoto)="handleDeletePhoto($event)"
  (commentsAndRec)="handleCommentsAndRec($event)" [testItem]="stoves.hearthPadProtection" [typeOfComRec]="CommentOrRecType.hearthPadProtection">
  <br>
  <ion-row class="ml2">
    <ion-col col-lg-3 col-md-3 col-8 class="flex items-center input font-size-item">
      <ion-label class="mr0 pr1" style="flex: 1.1;">Front:</ion-label>
      <ion-input class="no-float-label" tabindex="7" type="tel" wellsSelectAll wellsReplaceAsterisk [(ngModel)]="stoves.hearthPadProtection.front" name="front"
        (change)="onChange()"></ion-input>
      <ion-label class="select-label ml1 text-overflow-initial">inches</ion-label>
    </ion-col>
    <ion-col col-lg-3 col-md-3 col-8 class="flex items-center input font-size-item">
      <ion-label style="flex: .9;">Right:</ion-label>
      <ion-input class="no-float-label" tabindex="8" type="tel" wellsSelectAll wellsReplaceAsterisk [(ngModel)]="stoves.hearthPadProtection.right" name="right"
        (change)="onChange()"></ion-input>
      <ion-label class="select-label ml1 text-overflow-initial">inches</ion-label>
    </ion-col>
    <ion-col col-lg-3 col-md-3 col-8 class="flex items-center input font-size-item">
      <ion-label style="flex: .4;" class="mr0 max-width-25">Left:</ion-label>
      <ion-input class="no-float-label max-width-30" tabindex="9" type="tel" wellsSelectAll wellsReplaceAsterisk [(ngModel)]="stoves.hearthPadProtection.left" name="left" (change)="onChange()"></ion-input>
      <ion-label class="select-label ml1 text-overflow-initial">inches</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 class="bold ml2 note-line-height pr2">
      Minimum of 18 inches all around freestanding stove unless otherwise stated in owner's manual
    </ion-col>
  </ion-row>
</wells-inspection-sheet-pane>


<!-- FIREBRICK SECTION -->
<wells-inspection-sheet-pane name="Firebrick" value="firebrick" numOfPhotos="2" [statusValue]="stoves.firebrick.status" (status)="handleStatusOfPanes($event)"
  [photos]="stoves.firebrick.pictures" [uuid]="stoves.uuid" (deletePhoto)="handleDeletePhoto($event)" (commentsAndRec)="handleCommentsAndRec($event)"
  [testItem]="stoves.firebrick" [typeOfComRec]="CommentOrRecType.firebrick"></wells-inspection-sheet-pane>


<!-- THIMBLE SECTION -->
<wells-inspection-sheet-pane name="Thimble" value="thimble" [statusValue]="stoves.thimble.status" (status)="handleStatusOfPanes($event)"
  [photos]="stoves.thimble.pictures" [uuid]="stoves.uuid" (deletePhoto)="handleDeletePhoto($event)" (commentsAndRec)="handleCommentsAndRec($event)"
  [testItem]="stoves.thimble" [typeOfComRec]="CommentOrRecType.thimble"></wells-inspection-sheet-pane>