%var {
    margin-bottom: 1rem;
    font-size: 1.2em;
}
ion-row{
    &.header{
        .col{
            @extend %var;
            padding-left: calc(6% + 4px);
        }
    }
    &.ml3{
        .col{
            @extend %var;
        }
    }
}