<ion-card class="panel pb2">
  <ion-item-group>
    <ion-item-divider color="panel">
      <span>{{name}}</span>
      <span [ngClass]="[2,3,4,5].includes(statusValue) ? 'neutral' : InspectionStatus[statusValue]" *ngIf="InspectionStatus[statusValue]">
        <strong>- ({{InspectionStatus[statusValue]}})</strong>
      </span>
    </ion-item-divider>
    <div [ngSwitch]="section">
      <ng-template ngSwitchCase="requiredPhoto">
        <input #requiredPhoto class="file-upload" type="file" (change)="handleFile(requiredPhoto.files,true); requiredPhoto.value = ''"
        />
        <ion-list inset>
          <div [ngSwitch]="type">
            <ng-template ngSwitchCase="appliance">
              <button ion-item detail-none no-lines (click)="displayExistingPic(requiredPhoto,'appliance')">
                <div class="pic-taken required circle flex justify-center" *ngIf="!!photos.length">
                  <span style="padding: 2px;">{{photos.length}}</span>
                </div>
                <ion-icon name="md-outlet" item-start style="font-size: 2em;"></ion-icon>
                Appliance
              </button>
            </ng-template>
            <ng-template ngSwitchDefault>
              <button ion-item detail-none (click)="displayExistingPic(requiredPhoto,'front_of_house')" *ngIf="!hideFrontHousePic" [ngStyle]="{'pointer-events': lockUpload ? 'none' : 'initial'}">
                <div class="pic-taken required circle flex justify-center" *ngIf="photos | filterPhotosByNameCount:'front_of_house'">
                  <span style="padding: 2px;">{{photos | filterPhotosByNameCount:'front_of_house'}}</span>
                </div>
                <ion-icon name="home" item-start style="font-size: 2em;"></ion-icon>
                Front of House
              </button>
              <button ion-item detail-none no-lines (click)="displayExistingPic(requiredPhoto,'chimney')" [ngStyle]="{'pointer-events': lockUpload ? 'none' : 'initial'}">
                <div class="pic-taken required circle flex justify-center" *ngIf="!!(photos | filterPhotosByNameCount:'chimney')">
                  <span style="padding: 2px;">{{photos | filterPhotosByNameCount:'chimney'}}</span>
                </div>
                <ion-icon name="ios-archive" item-start style="font-size: 2em;"></ion-icon>
                Chimney
              </button>
            </ng-template>
          </div>
        </ion-list>
      </ng-template>
      <ng-template ngSwitchDefault>
        <div *ngIf="!hide">
          <ion-row class="pb4">
            <!-- photo icon -->
            <ion-col offset-lg-8 offset-md-8>
              <ion-fab>
                <div class="pic-taken circle flex justify-center" *ngIf="photos ? !!photos.length : false">
                  <span style="padding: 2px;">{{photos.length}}</span>
                </div>
                <input #file class="file-upload" type="file" (change)="handleFile(file.files); file.value = ''" />
                <button [ngStyle]="{'pointer-events': statusValue === InspectionStatus['failed']  ? 'initial' : 'none'}" class="disabled-no-opacity" ion-fab color="primary" mini (click)="displayExistingPic(file)">
                <ion-icon name="camera" mini></ion-icon>
              </button>
                <span class="ml1">Max: {{numOfPhotos}}</span>
              </ion-fab>
            </ion-col>
            <!-- passed status -->
            <ion-col col-lg-1>
              <ion-fab>
                <button [class.disable]="disable" ion-fab [color]="statusValue | getStatusColor:'passed'" (click)="setStatus('passed')"
                  mini [ngStyle]="{'pointer-events': disabled ? 'none' : 'initial'}">S</button>
              </ion-fab>
            </ion-col>
            <!-- failed status -->
            <ion-col col-lg-1>
              <ion-fab>
                <button [class.disable]="disable" ion-fab [color]="statusValue | getStatusColor:'failed'" (click)="setStatus('failed')"
                  mini [ngStyle]="{'pointer-events': disabled ? 'none' : 'initial'}">U</button>
              </ion-fab>
            </ion-col>
            <!-- not applicable status -->
            <ion-col col-lg-1>
              <ion-fab>
                <button [class.disable]="disable" ion-fab [color]="statusValue | getStatusColor:'na'" (click)="setStatus('Not Applicable', $event)"
                  mini>N/A</button>
              </ion-fab>
            </ion-col>
          </ion-row>
        </div>

      </ng-template>
      <ion-row>
        <ion-col col-12>
          &nbsp;&nbsp;&nbsp;&nbsp;
        </ion-col>
      </ion-row>

      <ng-content></ng-content>
    </div>

  </ion-item-group>
</ion-card>