ion-fab {
    float: right;
    position: absolute;
}

.panel{
    min-height: 100px;
}

.disabled-no-opacity[disabled] {
    opacity: 1.0;
    cursor: pointer;
}

.icon {
    display: block;
    font-size: 30px;
    text-align: center;
}

.float-right {
    float: right;
}

.passed {
    color: #00FF00;
}

.failed {
    color: #FB2E01;
}

.neutral {
    color: #f3f32d;
}

.hide {
    display: none;
}

.pic-taken{
   background-color: red;
    color: white;
    font-size: 11px;
    width: 31%;
    position: absolute;
    top: 9px;
    z-index: 100;
    left: 1px;
    padding: 0 10px;
    &.required{
        width: 2.5%;
        left: 6px;
    }
}

.disable{
    color: grey !important;
    pointer-events: none !important;
}

