<!-- START OF THE SHEET -->
<ion-card>
  <ion-item-group>
    <ion-item-divider color="panel">Heating Appliance</ion-item-divider>
    <ion-grid>
      <ion-row>
        <ion-col col-lg-6 col-md-6 col-12 class="input">
          <ion-item>
            <ion-label stacked>Name</ion-label>
            <ion-input type="text" tabindex="1" [(ngModel)]="heatingAppliance.name" name="name" (change)="onChange('name')"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-lg-6 col-md-6 col-12>
          <ion-label style="padding-left: 1.5rem;">Fuel Type:</ion-label>
          <ion-segment style="padding-left: 1.5rem;" [(ngModel)]="heatingAppliance.details" color="primary" (ngModelChange)="onChange()">
            <ion-segment-button value="Natural Gas">
              Natural Gas
            </ion-segment-button>
            <ion-segment-button value="Oil">
              Oil
            </ion-segment-button>
            <ion-segment-button value="Propane">
              Propane
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>

      <ion-row class="items-center">

        <ion-col col-lg-6 col-md-6 col-12>
          <ion-item>
            <ion-label class="fraction">Location:</ion-label>
            <ion-select interface="popover" class="no-float-label" style="min-width: 30%;" [(ngModel)]="heatingAppliance.location" name="location"
              (ngModelChange)="onChange()">
              <ion-option [value]="location" *ngFor="let location of locations">{{location}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col col-lg-6 col-md-6 col-12>
          <ion-label style="padding-left: 1.5rem;">Type:</ion-label>
          <ion-segment style="padding-left: 1.5rem;" [(ngModel)]="heatingAppliance.type" color="primary" (ngModelChange)="onChange()">
            <ion-segment-button value="Furnace">
              Furnace
            </ion-segment-button>
            <ion-segment-button value="Boiler">
              Boiler
            </ion-segment-button>
            <ion-segment-button value="Water Heater">
              Water Heater
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-lg-6 col-md-6 col-12>
          <ion-label style="padding-left: 1.5rem;">Type:</ion-label>
          <ion-segment style="padding-left: 1.5rem;" [(ngModel)]="heatingAppliance.unit" color="primary" (ngModelChange)="onChange()">
            <ion-segment-button value="GPH">
              GPH
            </ion-segment-button>
            <ion-segment-button value="BTU">
              BTU
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>

      <div [ngSwitch]="heatingAppliance.unit">
        <div *ngSwitchCase="'GPH'">
          <ion-row>
            <ion-col col-lg-4 col-md-4 col-12 class="input">
              <ion-item>
                <ion-label>GPH Input:</ion-label>
                <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="2" [(ngModel)]="heatingAppliance.gph_input" name="gph_input" (change)="onChange(undefined,false,true)"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-lg-4 col-md-4 col-12 class="input">
              <ion-item>
                <ion-label>BTU Input:</ion-label>
                <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="3" [(ngModel)]="heatingAppliance.btu_input" name="btu_input" (change)="onChange(undefined,false,true)"
                  readonly="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
        <div *ngSwitchCase="'BTU'">
          <ion-row>
            <ion-col col-lg-4 col-md-4 col-12 class="input">
              <ion-item>
                <ion-label>BTU Input:</ion-label>
                <ion-input class="no-float-label" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="3" [(ngModel)]="heatingAppliance.btu_input" name="btu_input" (change)="onChange(undefined,true,true)"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-grid>
  </ion-item-group>
</ion-card>

<!--Picture Section-->
<wells-inspection-sheet-pane name="Required Pictures" section="requiredPhoto" value="requiredPics" [photos]="heatingAppliance.requiredPics.pictures"
  [uuid]="heatingAppliance.uuid" (status)="handleStatusOfPanes($event)" type="appliance" (deletePhoto)="handleDeletePhoto($event)">
</wells-inspection-sheet-pane>

<!-- STOVE PIPE SECTION -->
<wells-inspection-sheet-pane name="Stack Pipe" value="stackPipe" numOfPhotos="2" [statusValue]="heatingAppliance.stackPipe.status"
  [photos]="heatingAppliance.stackPipe.pictures" [uuid]="heatingAppliance.uuid" (deletePhoto)="handleDeletePhoto($event)" (status)="handleStatusOfPanes($event)"
  (commentsAndRec)="handleCommentsAndRec($event)" [testItem]="heatingAppliance.stackPipe" [typeOfComRec]="CommentOrRecType.stackPipe">
  <ion-row class="header">
    <ion-col offset-md-5>
      Pipe Clearance:
    </ion-col>
  </ion-row>

  <ion-row class="ml3" align-items-center>
    <ion-col col-auto>
        Pipe Type:
    </ion-col>
    <ion-col col-md-4 col-7>
      <ion-select interface="popover" class="no-float-label" [(ngModel)]="heatingAppliance.stackPipe.pipe_type" name="pipe_type"
        (ngModelChange)="onChange()">
        <ion-option [value]="pipeType" *ngFor="let pipeType of pipeTypes">{{pipeType}}</ion-option>
      </ion-select>
    </ion-col>

    <ion-col col-auto>
      Pipe Size:
    </ion-col>
    <ion-col col-md-4 col-7>
      <ion-select interface="popover" class="no-float-label" [(ngModel)]="heatingAppliance.stackPipe.pipe_size" name="pipe_size"
        (ngModelChange)="onChange()">
        <ion-option [value]="pipeSize" *ngFor="let pipeSize of pipeSizes">{{pipeSize}}</ion-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row class="ml3" align-items-center>
    <ion-col col-auto>
      To Wall:
    </ion-col>
    <ion-col col-md-4 col-7>
      <ion-input class="no-float-label mr1" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="4" [(ngModel)]="heatingAppliance.stackPipe.to_wall" name="to_wall"
      (change)="onChange()"></ion-input>
    </ion-col>
    <ion-col col-auto>
      inches
    </ion-col>
    
    <ion-col col-auto>
      To Ceiling:
    </ion-col>
    <ion-col col-md-4 col-6>
      <ion-input class="no-float-label mr1" type="tel" wellsSelectAll wellsReplaceAsterisk tabindex="5" [(ngModel)]="heatingAppliance.stackPipe.to_ceiling" name="to_ceiling"
      (change)="onChange()"></ion-input>
    </ion-col>
    <ion-col col-auto>
      inches
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-12 class="bold ml2 note-line-height pr2">
      26 Gauge stack pipe needs to be a minimum of 18 inches from combustibles. If a heat shield with a 1 inch air gap is installed
      then it is 9 inches
    </ion-col>
  </ion-row>
</wells-inspection-sheet-pane>