<ion-header>
  <ion-navbar color="header" hideBackButton>
    <button ion-button menuToggle style="display:block">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Crew List</ion-title>
    <ion-buttons end>
      <button ion-button right (click)="enableEditMode = !enableEditMode;">{{enableEditMode ? 'Done' : 'Edit'}}</button>
    </ion-buttons>
  </ion-navbar>
  <ion-list inset>
    <ion-item class="input-color">
      <ion-input type="text" placeholder="Type Here To Add Crew" #crewName (keyup.enter)="addCrew(crewName.value); crewName.value=''"></ion-input>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content>
  <ion-list>
    <ng-template ngFor let-crew [ngForOf]="crews | async" let-i="index">

      <!--text mode-->
      <ion-item-sliding *ngIf="!enableEditMode;else inputElse">
        <ion-item>{{crew.name}}</ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="removeCrew(crew)">Delete</button>
        </ion-item-options>
      </ion-item-sliding>

      <!--input mode-->
      <ng-template #inputElse>
        <ion-item>
          <ion-input #inputCrew [value]="crew.name"  (keyup.enter)="updateCrew(inputCrew.value,crew.key)" (blur)="updateCrew(inputCrew.value,crew.key)"></ion-input>
          <button ion-button color="danger" item-right (click)="removeCrew(crew)">Delete</button>
        </ion-item>
      </ng-template>
    </ng-template>
  </ion-list>
</ion-content>
<ion-footer no-border>
  <div class="flex ml3 mr3">
    <button ion-button (click)="addCrew(crewName.value); crewName.value=''" class="flex-auto">Add</button>
  </div>
</ion-footer>