<ion-header no-border>
  <ion-navbar>
    <ion-toolbar color="header" class="items-center">
      <ion-title>Comments</ion-title>
      <ion-buttons right style="margin-top: -24px;">
        <button color="header" ion-button icon-only (click)="dismiss('close')">
        <ion-icon color="light" name="md-close"></ion-icon>
      </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>

    <!--comments-->
    <ion-card>
      <ion-card-header class="bold">
        Comments
      </ion-card-header>
      <ion-list>
        <ion-item *ngFor="let item of commentsList | async as commentsList; index as i">
          <ion-label>{{item.comment}}</ion-label>
          <ion-checkbox (ionChange)="commentSelected(i)" [checked]="item.checked"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card>

    <!--recommendations-->
    <ion-card>
      <ion-card-header class="bold">
        Recommendations
      </ion-card-header>
      <ion-list>
        <ion-item *ngFor="let item of recommendationsList | async as recommendationsList; index as i">
          <ion-label>{{item.recommendation}}</ion-label>
          <ion-checkbox (ionChange)="recommendationSelected(i)" [checked]="item.checked"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-card-header class="bold">
        Additional Comments
      </ion-card-header>
      <ion-list>
        <ion-item class="input-color">
          <ion-input #input type="text" placeholder="Type comment here" (keyup.enter)="addAdditionalComment(input.value); input.value=''"></ion-input>
        </ion-item>

        <!--added comments-->
        <ng-template ngFor let-additionalComment [ngForOf]="additionalComments" let-i="index">
          <ion-item (click)="editOrDeleteAddComment(i,input)">{{additionalComment}}</ion-item>
        </ng-template>

      </ion-list>

    </ion-card>

    <button ion-button color="primary" (click)="dismiss()">Add Comments &amp; Recommendations</button>

  </ion-grid>
</ion-content>