button, textarea {
    width: 100%;
}

textarea {
    padding: 20px;
    height: 200px;
    border: lightgray thin solid;
    border-radius: 15px;
    margin-bottom: 10px;
}

/* ion-icon styles */
ion-grid ion-row ion-col {
    padding: 0px 40px;
}

ion-buttons{
    button {
        position: absolute;
        right: 5px;
        top: 0px;
        height: 25px;
        padding: 0;
        font-size: 20px;
    }
}

/* custom styles */
.light-grey {
    color: #9e9e9e;
}

input::-webkit-input-placeholder{
    color: #9e9e9e;
}

ion-label{
    white-space: normal !important;
    overflow: initial !important;
}
