<ion-header>
  <ion-navbar hideBackButton="true" color="primary">
    <button ion-button menuToggle style="display:block">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chimney Inspection</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
 Viewing Chimney Inspection
</ion-content>
