#iframeContainer {
    height: 100%;
    width: 100%;
}
.logo {
    height: 0%;
    width: 50%;
}
hr {
    border-color: rgba(158, 158, 158, 0.17);
    margin: 0 7px;
    border-width: 1px;
    height: inherit;
}

ion-card img:not(.logo) {
    width: initial;
}

.border{
    border-style: solid !important;
}

.border-left,.border-right,.border-bottom,.border-top {
    border-color: #cecece !important;
}

.header{
    background-color: #073F80;
    color: #FFFFFF;
}

.bl{
    border-left: solid 1px #cecece;
    padding-left: .5rem;
}

.width-170{
    width: 170px;
}

.pl{
    padding-left: .5rem;
}

.picName{
    color: whitesmoke;
    text-transform: uppercase;
    background-color:black;
}

.condition-height{
    height: 528px;
}