// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "~ionic-angular/themes/ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #253133,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B,
  yellow:   #cccc00,
  panel:    #03a9f4,
  header: (
    base:#000000,
    contrast: #ffffff
  )
  
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$text-input-placeholder-color: #000000;
$popover-ios-width: 300px;
$popover-ios-min-width: 164px;
$popover-ios-min-height: 159px;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$item-ios-divider-color: white;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "~ionic-angular/themes/ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "../assets/scss/ionicons";



// All Ionic components

@import './ionic';