<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col  col-11>
        <ion-icon color="light" name="search"></ion-icon>
        <ion-input color="light" placeholder="Type Something" mode="md" (keyup)="getItems($event)"></ion-input>
      </ion-col>
      <ion-col col-1>
        <ion-buttons right>
          <button ion-button (click)="dismiss()">
            <ion-icon color="light" name="close"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="jobs.length === 0 && clients.length === 0" margin-top>
    <ion-col text-center>
      <h3 class="light-grey">To execute a search type in the search bar above.</h3>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item-group>
      <ion-item-divider *ngIf="clients.length > 0" color="light">Clients</ion-item-divider>
      <button ion-item *ngFor="let item of clients">
        {{ item.firstName }} {{ item.middleName }}
      </button>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider *ngIf="jobs.length > 0" color="light">Jobs</ion-item-divider>
      <button ion-item *ngFor="let item of jobs">
        {{ item.assigned }}
      </button>
    </ion-item-group>
  </ion-list>
</ion-content>