/* ion-icon styles */
ion-icon[name='search'] {
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 30px;
    cursor: pointer;
}

/* ion-input styles */
ion-input {
    // border-bottom: solid white thin;
    input {
        color: white;
        margin: 5px 0 0 35px;
    }
}

ion-buttons{
    button {
        position: absolute;
        right: 5px;
        top: 0px;
        height: 25px;
        padding: 0;
        font-size: 20px;
    }
}

/* custom styles */
.light-grey {
    color: #9e9e9e;
}