<ion-header>
  <ion-navbar color="header" hideBackButton>
    <button ion-button menuToggle style="display:block">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inspection Configuration</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <!-- START OF THE SHEET -->
    <div [ngSwitch]="ApplianceTypes[type]" *ngIf="inspectionSheet">
  
      <wells-flue-vent [flueVent]="inspectionSheet" *ngSwitchCase="'Flue/Vent'" (output)="sheetOutput(type, $event)"></wells-flue-vent>
  
      <wells-dryer-vent [dryerVent]="inspectionSheet" *ngSwitchCase="'Dryer Vent'" (output)="sheetOutput(type, $event)"></wells-dryer-vent>
  
      <wells-fireplace [fireplace]="inspectionSheet" *ngSwitchCase="'Prefab Fireplace'" headerName="Prefab Fireplace" (output)="sheetOutput(type, $event)"></wells-fireplace>
  
      <wells-fireplace [fireplace]="inspectionSheet" *ngSwitchCase="'Masonry Fireplace'" headerName="Masonry Fireplace" (output)="sheetOutput(type, $event)"></wells-fireplace>
  
      <wells-heating-appliance [heatingAppliance]="inspectionSheet" *ngSwitchCase="'Heating Appliances'" (output)="sheetOutput(type, $event)"></wells-heating-appliance>
  
      <wells-wood-stove-insert [stoves]="inspectionSheet" *ngSwitchCase="'Stoves'" (output)="sheetOutput(type, $event)"></wells-wood-stove-insert>
  
      <wells-chimney [chimney]="inspectionSheet" *ngSwitchDefault (output)="sheetOutput(type, $event)"></wells-chimney>
  
    </div>
  
  </ion-content>