<ion-header>
  <ion-navbar color="header" hideBackButton>
    <button ion-button menuToggle style="display:block">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Report Conflict Manager</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!inspectionReports.length;else hasResults">
    <div class="flex h1 justify-center p4">No Conflicts</div>
  </ion-card>
  <ng-template #hasResults>
    <ion-card>
      <ion-item *ngFor="let report of inspectionReports" (click)="selectedReport = report" class="pointer">
        <ion-label>{{report.clientName?.firstName}} {{report.clientName?.lastName}}</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ng-container *ngFor="let invalidAppliance of selectedReport?.invalidAppliances; let i=index">
        <ion-item (click)="showDetail = i" class="pointer">
          <ion-icon name="md-trash" item-start (click)="delete($event, selectedReport,invalidAppliance)"></ion-icon>
          <ion-label>{{invalidAppliance}}</ion-label>
        </ion-item>
        <ion-item *ngIf="showDetail === i" (click)="showDetail = -1" class="pointer">
          <pre>{{getInspectionReportByUUID(selectedReport,invalidAppliance) | json}}</pre>
        </ion-item>
      </ng-container>
    </ion-card>
  </ng-template>
</ion-content>