ion-iconj[name='arrow-back'] {
    color: white;
}

.back-button {
    color: white !important;
}

.alert-button {
    text-align: center;
    margin: auto !important;
}

.header-color{
    background-color: rgba(220, 220, 220, 0.38);
}

ion-header{
    ion-list{
        margin: 0px;
    }
}

.wrap{
    white-space: pre-line;
    text-overflow: initial;
    max-width: 70%;
}

.loading-view{
    font-family: BLOKK;
    color: #ccc;
    font-size: 2.0em;
    filter: blur(2px);
}