<ion-header>
  <ion-navbar color="header" hideBackButton>
    <button ion-button menuToggle style="display:block">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title color="light">Client List</ion-title>
  </ion-navbar>
  <ion-list hideWhen="iphone">
    <ion-item class="header-color">
      <ion-row>
        <ion-col col-5>
          Name
        </ion-col>
        <ion-col col-7>
          Address
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content>
  <ion-searchbar (ionInput)="filterClientsList($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let client of clients" (click)="presentPopup(client)">

      <!--Iphone only-->
      <ng-container *ngIf="client | clientRecord | async as client">
        <h2 showWhen="iphone">{{client | clientName}}</h2>
        <p showWhen="iphone" class="wrap"> {{client | clientAddress}}</p>

        <ion-row hideWhen="iphone" class="pointer">
          <ion-col col-5>
            {{client | clientName}}
          </ion-col>
          <ion-col col-7>
            {{client | clientAddress}}
          </ion-col>
        </ion-row>

      </ng-container>
    </ion-item>
  </ion-list>

</ion-content>