<ion-list inset>

  <ion-list-header class="h1">
    File Import
  </ion-list-header>

  <ion-item>
    <label for="file-upload" class="file-upload-label flex flex-column justify-center">
      <button full clear ion-button icon-right (click)="fileInput.click()">
        <span class="h2">{{file?.name || 'Choose a file'}}</span>
        <ion-icon name="md-cloud-upload" style="font-size: 3rem"></ion-icon>
      </button>
      <input id="file-upload" #fileInput class="file-upload" type="file" (change)="handleFile(fileInput.files); fileInput.value = ''" />
    </label>
  </ion-item>
  <ion-item>
    <button full clear ion-button icon-right (click)="displayFileInputInfo()">
      <span>File Format</span>
      <ion-icon name="md-information-circle"></ion-icon>
    </button>
  </ion-item>

</ion-list>
<button ion-button color="primary" full (click)="loadFile()" class="m0">Load File</button>
<button ion-button color="light" full (click)="closePopover()" class="m0">Cancel</button>