<ion-header>
  <ion-navbar color="header" hideBackButton>
    <button ion-button menuToggle style="display:block">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title color="light">{{isEditMode ? 'Update' : 'Add'}} User</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input no-input-line type="text" [(ngModel)]="user.firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input no-input-line type="text" [(ngModel)]="user.lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input no-input-line type="email" [(ngModel)]="user.emailAddress"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input no-input-line type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <br>
    <ion-item>
      <ion-label floating>Select Crew</ion-label>
      <ion-select no-select-line interface="popover" [(ngModel)]="user.crew">
        <ion-option [value]="crew.key" *ngFor="let crew of crews | async">{{crew.name}}</ion-option>
      </ion-select>
    </ion-item>

    <br>

    <ion-item>
      <ion-label floating>CSIA</ion-label>
      <ion-input no-input-line type="text" [(ngModel)]="user.CSIA"></ion-input>
    </ion-item>

    <br>
    <ion-row>
      <ion-item col-12 class="header-color no-hover" no-lines class="bold">
        Authorizations:
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col col-lg-4 col-md col-12>
        <ion-item no-lines class="no-hover">
          <ion-label class="admin" item-left>Create Job</ion-label>
          <ion-toggle checked="false" [(ngModel)]="user.createJob" item-left></ion-toggle>
        </ion-item>
      </ion-col>

      <ion-col col-lg-4 col-md col-12>
        <ion-item no-lines class="no-hover">
          <ion-label class="admin" item-left>Edit Job</ion-label>
          <ion-toggle checked="false" [(ngModel)]="user.editJob" item-left></ion-toggle>
        </ion-item>
      </ion-col>

      <ion-col col-lg-4 col-md col-12>
        <ion-item no-lines class="no-hover">
          <ion-label class="admin" item-left>Delete Job</ion-label>
          <ion-toggle checked="false" [(ngModel)]="user.deleteJob" item-left></ion-toggle>
        </ion-item>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col col-lg-4 col-md col-12>
        <ion-item no-lines class="no-hover">
          <ion-label class="admin" item-left>Print Job</ion-label>
          <ion-toggle checked="false" [(ngModel)]="user.printJob" item-left></ion-toggle>
        </ion-item>
      </ion-col>

      <ion-col col-lg-4 col-md col-12>
        <ion-item no-lines class="no-hover">
          <ion-label class="admin" item-left>Admin</ion-label>
          <ion-toggle checked="false" [(ngModel)]="user.adminstration" item-left></ion-toggle>
        </ion-item>
      </ion-col>

      <ion-col col-lg-4 col-md col-12>
        <ion-item no-lines class="no-hover">
          <ion-label class="admin" item-left>OnLine</ion-label>
          <ion-toggle checked="false" [(ngModel)]="user.online" item-left></ion-toggle>
        </ion-item>
      </ion-col>

      <ion-col col-lg-4 col-md col-12>
        <ion-item no-lines>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-list>
  <div class="buttons" padding>
    <button ion-button color="primary" block (click)="gotoUserList()">Cancel</button>
    <button ion-button color="primary" block (click)="addUser($event)">{{isEditMode ? 'Update' : 'Create'}}</button>
  </div>

</ion-content>