ion-label{
    &.admin {
        text-overflow: initial;
        padding-right: 45px;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.buttons button {
    margin: 10px;
}

