/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'BLOKK';
    src: url('./assets/fonts/BLOKKNeue-Regular.eot');
    src: url('./assets/fonts/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/BLOKKNeue-Regular.woff2') format('woff2'),
         url('./assets/fonts/BLOKKNeue-Regular.woff') format('woff'),
         url('./assets/fonts/BLOKKNeue-Regular.otf') format('opentype'),
         url('./assets/fonts/BLOKKNeue-Regular.ttf') format('truetype'),
         url('./assets/fonts/BLOKKNeue-Regular.svg#BLOKKRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.label-md{
    margin: 0px !important;
}

.header-color{
    background-color: rgba(220, 220, 220, 0.38);
}

@for $i from 1 through 6 {
  .ind-#{$i} {
      text-indent: 5px * $i;
      }
}

ion-list.hover ion-item {
    cursor: pointer;
}

ion-list.hover ion-item:hover, ion-list.hover  button[detail-none].hover:hover{
    background-color: rgba(0, 120, 255, 0.18);
    cursor: pointer;    
}

ion-header{
    ion-list{
        margin: 0px;
    }
}

.file-upload-label {
    position: relative;
    width: 100%;
    height: 56px;
    float: right;
    z-index: 10000;
}

.file-upload {
    position: absolute;
    z-index: 10000;
    height: 0;
    width: 0;
    overflow: hidden;
    background-color: transparent;
    visibility: hidden;
}

.max-width-1{
    max-width: 8rem !important;
}

.min-width-45{
    min-width: 45px;
}

.border{
    border-style: inset !important;
    border-width: 1px !important;
    border-color: #eee;
}
.sheet-select-icon {
    .select-icon {
        right: 10px;
    }
}
.hidden{
    visibility: hidden;
}
.flatpickr-calendar{
    margin-top: -35px;
    margin-left: -107px;

}

ion-input:not([no-input-line]),ion-select:not([no-select-line]) {
    border-bottom: 1px solid rgba(158, 158, 158, 0.58);
}

ion-input {
    &.no-float-label {
        .text-input-ios {
            margin-top: 0px !important; 
            margin-bottom: 0px !important;
        }       
    }
}
ion-select{
    &.no-float-label{
        &.select-ios{
            padding-top: 0px !important; 
            padding-bottom: 0px !important;
        }
    }

    max-width: 100% !important;
}
ion-label.fraction{
    flex-grow: .4;
    max-width: 28%;
    flex: initial !important;
}

.pos-inches{
    position: relative;
    right: 130px;
}

.pos-sq-total{
    position: relative;
    right: 107px;
}

.select-label{
    max-width: 40%;
    flex-grow: .6;
    flex: initial !important;
    +ion-select{
        min-width: 50%;
    }
    .select-text{
        text-align: right;
    }
}

.label-ios {
    + ion-input {
        .text-input{
            margin-left: 5px !important;
            width: 100% !important;
        }
    }
}
[col-ion-input]{
    flex: 0 0 19% !important;
    width: 19% !important;
    max-width: 19% !important;
    .select-label{
        margin-left: 15px !important;
    }
}

.note-line-height{
    line-height: 2;
}

ion-col.input{
    position:initial !important;
}

.text-overflow-initial {
    text-overflow:inherit;

}

.border-left{
    border-color: black !important;
}

.font-size-item{
    font-size: 1.2em;
}

.max-width-30{
    max-width: 30%;
}
.max-width-25{
    max-width: 25%;
}
.max-width-40{
    max-width: 40%;
}

ion-list{
    &.hide-reorder{
       &.list.reorder-enabled.reorder-visible {
                ion-reorder {
                visibility: hidden !important;
            }
        }
        
    }
}

iframe {
    height: 100%;
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.popover-md .popover-content{
    width: auto !important;
}

.disable{
    color: grey;
    pointer-events: none;
}

wells-job-list ion-content div.scroll-content{
    display: flex !important;
    flex-direction: column !important;
}

.toast-md.cust-toast{
    .toast-wrapper{
        border: 1px solid;
        border-radius: 9px;
        max-width: 160px;
        &.toast-bottom{
            bottom: 4px;
        }
    }
    .toast-message{
        padding: 1.3rem;
        text-align: center;
        font-size: 1.7rem;
    }
}