<!-- START OF THE SHEET -->
<ion-card>
  <ion-item-group>
    <ion-item-divider color="panel">Chimney</ion-item-divider>
    <ion-grid>
      <ion-row>
        <ion-col col-lg-4 col-md-4 col-12 class="input">
          <ion-item>
            <ion-label stacked>Name</ion-label>
            <ion-input type="text" tabindex="1" [(ngModel)]="chimney.name" name="name" (change)="onChange('name')"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-lg-4 col-md-4 col-12>
          <ion-item [class.disable]="disable">
            <ion-label stacked>Number of Flues</ion-label>
            <ion-select interface="popover" [(ngModel)]="chimney.flues" name="flues" (ngModelChange)="onChange()">
              <ion-option [value]="flue" *ngFor="let flue of numberOfFlues">{{flue}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-lg-4 col-md-4 col-12>
          <ion-item>
            <ion-label stacked>Construction Type</ion-label>
            <ion-select interface="popover" class="fit" [(ngModel)]="chimney.constructionType" name="constructionType" (ngModelChange)="onChange()">
              <ion-option value="Brick">Brick</ion-option>
              <ion-option value="Block">Block</ion-option>
              <ion-option value="Stone">Stone</ion-option>
              <ion-option value="Stucco">Stucco</ion-option>
              <ion-option value="Siding">Siding</ion-option>
              <ion-option value="Surround">Surround</ion-option>
              <ion-option value="Wood Chase Siding">Wood Chase w/ Siding</ion-option>
              <ion-option value="Wood Chase Stucco">Wood Chase w/Stucco</ion-option>
              <ion-option value="Double Wall Chimney">Double Wall Chimney</ion-option>
              <ion-option value="No Chimney">No Chimney</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-lg-4 col-md-4 col-12 [class.disable]="disable">
          <ion-label style="padding-left: 1.5rem;">Chimney Location:</ion-label>
          <ion-segment style="padding-left: 1.5rem;" [(ngModel)]="chimney.location" color="primary" (ngModelChange)="onChange()">
            <ion-segment-button value="Interior">
              Interior
            </ion-segment-button>
            <ion-segment-button value="Exterior">
              Exterior
            </ion-segment-button>
          </ion-segment>
        </ion-col>
        <ion-col col-lg-4 col-md-4 col-12>
          <ion-item [class.disable]="disable">
            <ion-label stacked>Roof Material</ion-label>
            <ion-select interface="popover" [(ngModel)]="chimney.roofMaterial" name="roofMaterial" (ngModelChange)="onChange()">
              <ion-option value="Asphalt">Asphalt</ion-option>
              <ion-option value="Cedar">Cedar</ion-option>
              <ion-option value="Slate">Slate</ion-option>
              <ion-option value="Asbestos">Asbestos</ion-option>
              <ion-option value="Clay Tile">Clay Tile</ion-option>
              <ion-option value="Rubber">Rubber</ion-option>
              <ion-option value="Metal">Metal</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-lg-4 col-md-4 col-12>
          <ion-item [class.disable]="disable">
            <ion-label stacked>Location on House</ion-label>
            <ion-select interface="popover" [(ngModel)]="chimney.locationOnHouse" multiple="true" name="locationOnHouse" (ngModelChange)="onChange()">
              <ion-option value="Left">Left</ion-option>
              <ion-option value="Right">Right</ion-option>
              <ion-option value="Back">Back</ion-option>
              <ion-option value="Middle">Middle</ion-option>
              <ion-option value="Front">Front</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
      </ion-row>
    </ion-grid>
  </ion-item-group>
</ion-card>

<!--Picture Section-->
<wells-inspection-sheet-pane name="Required Pictures" section="requiredPhoto" value="requiredPics" [photos]="chimney.requiredPics.pictures"
  [uuid]="chimney.uuid" (status)="handleStatusOfPanes($event)" (deletePhoto)="handleDeletePhoto($event)" [hideFrontHousePic]="hideFrontHousePic">

</wells-inspection-sheet-pane>

<!--CROWN SECTION -->
<wells-inspection-sheet-pane name="Crown" value="crown" [numOfPhotos]="2" [photos]="chimney.crown.pictures" [uuid]="chimney.uuid"
  [statusValue]="chimney.crown.status" (status)="handleStatusOfPanes($event)" (deletePhoto)="handleDeletePhoto($event)" (commentsAndRec)="handleCommentsAndRec($event)"
  [testItem]="chimney.crown" [typeOfComRec]="CommentOrRecType.crown" [disable]="disable">
  <ion-row class="ml2">
    <ion-col col-lg-6 col-md-6 col-12 [class.disable]="disable">
      <ion-label>Crown Material:</ion-label>
      <ion-segment [(ngModel)]="chimney.crown.material" color="primary" (ngModelChange)="onChange()">
        <ion-segment-button value="Concrete">
          Concrete
        </ion-segment-button>
        <ion-segment-button value="Metal">
          Metal
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>
  <br />
  <ion-row class="ml2">
    <ion-col col-lg-5 col-md-5 col-12 class="flex items-center input font-size-item" [class.disable]="disable">
      <ion-label class="mr0  max-width-40" style="flex: .5;">Crown Width:</ion-label>
      <ion-input wellsReplaceAsterisk wellsSelectAll tabindex="2" class="no-float-label max-width-30" type="tel" [(ngModel)]="chimney.crown.width" name="width" (change)="onChange()"></ion-input>
      <ion-label class="select-label ml1 text-overflow-initial">inches</ion-label>
    </ion-col>
    <ion-col col-lg-5 col-md-5 col-12 class="flex items-center input font-size-item" [class.disable]="disable">
      <ion-label class="mr0 max-width-40" style="flex: .5;">Crown Length:</ion-label>
      <ion-input tabindex="3" class="no-float-label max-width-30" type="tel" wellsSelectAll wellsReplaceAsterisk [(ngModel)]="chimney.crown.length" name="length" (change)="onChange()"></ion-input>
      <ion-label class="select-label ml1 text-overflow-initial">inches</ion-label>
    </ion-col>
  </ion-row>
</wells-inspection-sheet-pane>

<!--MORTAR SECTION -->
<wells-inspection-sheet-pane name="Mortar" value="mortar" numOfPhotos="4" [photos]="chimney.mortar.pictures" [uuid]="chimney.uuid"
  [statusValue]="chimney.mortar.status" (status)="handleStatusOfPanes($event)" (deletePhoto)="handleDeletePhoto($event)" [testItem]="chimney.mortar"
  (commentsAndRec)="handleCommentsAndRec($event)" [typeOfComRec]="CommentOrRecType.mortar" [disable]="disable"></wells-inspection-sheet-pane>


<!--BRICK/STONE SECTION -->
<wells-inspection-sheet-pane name="Brick / Stone" value="brickStone" numOfPhotos="2" [photos]="chimney.brickStone.pictures"
  [uuid]="chimney.uuid" [statusValue]="chimney.brickStone.status" (status)="handleStatusOfPanes($event)" (deletePhoto)="handleDeletePhoto($event)"
  [testItem]="chimney.brickStone" (commentsAndRec)="handleCommentsAndRec($event)" [typeOfComRec]="CommentOrRecType.brickStone" [disable]="disable"></wells-inspection-sheet-pane>

<!--Stucco SECTION -->
<wells-inspection-sheet-pane name="Stucco" value="stucco" numOfPhotos="2" [photos]="chimney.stucco.pictures" [uuid]="chimney.uuid"
  [statusValue]="chimney.stucco.status" (status)="handleStatusOfPanes($event)" (deletePhoto)="handleDeletePhoto($event)" [testItem]="chimney.stucco"
  (commentsAndRec)="handleCommentsAndRec($event)" [typeOfComRec]="CommentOrRecType.stucco" [disable]="disable"></wells-inspection-sheet-pane>


<!--FLASHING SECTION -->
<wells-inspection-sheet-pane name="Flashing" value="flashing" numOfPhotos="2" [photos]="chimney.flashing.pictures" [uuid]="chimney.uuid"
  [statusValue]="chimney.flashing.status" (status)="handleStatusOfPanes($event)" (deletePhoto)="handleDeletePhoto($event)"
  [testItem]="chimney.flashing" (commentsAndRec)="handleCommentsAndRec($event)" [typeOfComRec]="CommentOrRecType.flashing" [disable]="disable"></wells-inspection-sheet-pane>

<!--Height SECTION -->
<wells-inspection-sheet-pane name="Height" value="height" numOfPhotos="1" [photos]="chimney.height.pictures" [uuid]="chimney.uuid"
  [statusValue]="chimney.height.status" (status)="handleStatusOfPanes($event)" (deletePhoto)="handleDeletePhoto($event)" [testItem]="chimney.height"
  (commentsAndRec)="handleCommentsAndRec($event)" [typeOfComRec]="CommentOrRecType.height" [disable]="disable"></wells-inspection-sheet-pane>

<!--Structure/Integrity SECTION -->
<wells-inspection-sheet-pane name="Structure/Integrity" value="structureIntegrity" numOfPhotos="2" [photos]="chimney.structureIntegrity.pictures"
  [uuid]="chimney.uuid" [statusValue]="chimney.structureIntegrity.status" (status)="handleStatusOfPanes($event)" (deletePhoto)="handleDeletePhoto($event)"
  [testItem]="chimney.structureIntegrity" (commentsAndRec)="handleCommentsAndRec($event)" [typeOfComRec]="CommentOrRecType.structureIntegrity" [disable]="disable"></wells-inspection-sheet-pane>